/*-------------- fonts -----------------*/
@font-face {
  font-family: 'Gotham Pro';
  src: url("../fonts/GothamPro/GothamPro-BoldItalic.eot");
  src: local("Gotham Pro Bold Italic"), local("GothamPro-BoldItalic"), url("../fonts/GothamPro/GothamPro-BoldItalic.eot?#iefix") format("embedded-opentype"), url("../fonts/GothamPro/GothamPro-BoldItalic.woff") format("woff"), url("../fonts/GothamPro/GothamPro-BoldItalic.ttf") format("truetype");
  font-weight: bold;
  font-style: italic;
}

@font-face {
  font-family: 'Gotham Pro';
  src: url("../fonts/GothamPro/GothamPro-Italic.eot");
  src: local("Gotham Pro Italic"), local("GothamPro-Italic"), url("../fonts/GothamPro/GothamPro-Italic.eot?#iefix") format("embedded-opentype"), url("../fonts/GothamPro/GothamPro-Italic.woff") format("woff"), url("../fonts/GothamPro/GothamPro-Italic.ttf") format("truetype");
  font-weight: normal;
  font-style: italic;
}

@font-face {
  font-family: 'Gotham Pro';
  src: url("../fonts/GothamPro/GothamPro-Medium.eot");
  src: local("Gotham Pro Medium"), local("GothamPro-Medium"), url("../fonts/GothamPro/GothamPro-Medium.eot?#iefix") format("embedded-opentype"), url("../fonts/GothamPro/GothamPro-Medium.woff") format("woff"), url("../fonts/GothamPro/GothamPro-Medium.ttf") format("truetype");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'Gotham Pro';
  src: url("../fonts/GothamPro/GothamPro-BlackItalic.eot");
  src: local("Gotham Pro Black Italic"), local("GothamPro-BlackItalic"), url("../fonts/GothamPro/GothamPro-BlackItalic.eot?#iefix") format("embedded-opentype"), url("../fonts/GothamPro/GothamPro-BlackItalic.woff") format("woff"), url("../fonts/GothamPro/GothamPro-BlackItalic.ttf") format("truetype");
  font-weight: 900;
  font-style: italic;
}

@font-face {
  font-family: 'Gotham Pro';
  src: url("../fonts/GothamPro/GothamPro-Bold.eot");
  src: local("Gotham Pro Bold"), local("GothamPro-Bold"), url("../fonts/GothamPro/GothamPro-Bold.eot?#iefix") format("embedded-opentype"), url("../fonts/GothamPro/GothamPro-Bold.woff") format("woff"), url("../fonts/GothamPro/GothamPro-Bold.ttf") format("truetype");
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'Gotham Pro Narrow';
  src: url("../fonts/GothamPro/GothamProNarrow-Bold.eot");
  src: local("Gotham Pro Narrow Bold"), local("GothamProNarrow-Bold"), url("../fonts/GothamPro/GothamProNarrow-Bold.eot?#iefix") format("embedded-opentype"), url("../fonts/GothamPro/GothamProNarrow-Bold.woff") format("woff"), url("../fonts/GothamPro/GothamProNarrow-Bold.ttf") format("truetype");
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'Gotham Pro Narrow';
  src: url("../fonts/GothamPro/GothamProNarrow-Medium.eot");
  src: local("Gotham Pro Narrow Medium"), local("GothamProNarrow-Medium"), url("../fonts/GothamPro/GothamProNarrow-Medium.eot?#iefix") format("embedded-opentype"), url("../fonts/GothamPro/GothamProNarrow-Medium.woff") format("woff"), url("../fonts/GothamPro/GothamProNarrow-Medium.ttf") format("truetype");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'Gotham Pro';
  src: url("../fonts/GothamPro/GothamPro-LightItalic.eot");
  src: local("Gotham Pro Light Italic"), local("GothamPro-LightItalic"), url("../fonts/GothamPro/GothamPro-LightItalic.eot?#iefix") format("embedded-opentype"), url("../fonts/GothamPro/GothamPro-LightItalic.woff") format("woff"), url("../fonts/GothamPro/GothamPro-LightItalic.ttf") format("truetype");
  font-weight: 300;
  font-style: italic;
}

@font-face {
  font-family: 'Gotham Pro';
  src: url("../fonts/GothamPro/GothamPro-Light.eot");
  src: local("Gotham Pro Light"), local("GothamPro-Light"), url("../fonts/GothamPro/GothamPro-Light.eot?#iefix") format("embedded-opentype"), url("../fonts/GothamPro/GothamPro-Light.woff") format("woff"), url("../fonts/GothamPro/GothamPro-Light.ttf") format("truetype");
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'Gotham Pro';
  src: url("../fonts/GothamPro/GothamPro-Black.eot");
  src: local("Gotham Pro Black"), local("GothamPro-Black"), url("../fonts/GothamPro/GothamPro-Black.eot?#iefix") format("embedded-opentype"), url("../fonts/GothamPro/GothamPro-Black.woff") format("woff"), url("../fonts/GothamPro/GothamPro-Black.ttf") format("truetype");
  font-weight: 900;
  font-style: normal;
}

@font-face {
  font-family: 'Gotham Pro';
  src: url("../fonts/GothamPro/GothamPro.eot");
  src: local("Gotham Pro"), local("GothamPro"), url("../fonts/GothamPro/GothamPro.eot?#iefix") format("embedded-opentype"), url("../fonts/GothamPro/GothamPro.woff") format("woff"), url("../fonts/GothamPro/GothamPro.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Gotham Pro';
  src: url("../fonts/GothamPro/GothamPro-MediumItalic.eot");
  src: local("Gotham Pro Medium Italic"), local("GothamPro-MediumItalic"), url("../fonts/GothamPro/GothamPro-MediumItalic.eot?#iefix") format("embedded-opentype"), url("../fonts/GothamPro/GothamPro-MediumItalic.woff") format("woff"), url("../fonts/GothamPro/GothamPro-MediumItalic.ttf") format("truetype");
  font-weight: 500;
  font-style: italic;
}

/*-------------- base style -----------------*/
html,
body {
  background: #fff;
  font-family: "Gotham Pro", Arial, sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 15px;
  line-height: 1.75;
  color: #000;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

*,
*:before,
*:after {
  -webkit-box-sizing: inherit;
  box-sizing: inherit;
}

img {
  max-width: 100%;
}

a {
  color: #eb6441;
}

a:hover,
a:active,
a:focus {
  text-decoration: none;
}

.link-more {
  font-weight: 500;
  text-decoration: none;
  padding-right: 45px;
  position: relative;
}

.link-more::after {
  content: '';
  display: block;
  width: 30px;
  height: 14px;
  background: url(../img/sprite.png) no-repeat -50px -85px;
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
  right: 0;
}

p {
  font-style: normal;
  font-weight: normal;
  font-size: 15px;
  line-height: 1.75;
  color: #000;
  padding: 5px 0;
  margin-bottom: 11px;
}

h1,
.h1 {
  font-style: normal;
  font-weight: 500;
  font-size: 40px;
  line-height: 1.15;
  color: #000;
  margin-bottom: 55px;
}

.h1-white {
  font-style: normal;
  font-weight: bold;
  font-size: 50px;
  line-height: 1.15;
  color: #fff;
  margin-bottom: 0;
}

h2,
.h2 {
  font-style: normal;
  font-weight: 500;
  font-size: 32px;
  line-height: 1.15;
  color: #000;
  margin-bottom: 55px;
}

h3,
.h3 {
  font-style: normal;
  font-weight: 500;
  font-size: 19px;
  line-height: 1.15;
  color: #000;
  margin-bottom: 20px;
}

h4,
.h4 {
  font-style: normal;
  font-weight: normal;
  font-size: 19px;
  line-height: 1.15;
  color: #000;
}

h5,
.h5 {
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 1.15;
  color: #000;
}

h6,
.h6 {
  font-style: normal;
  font-weight: normal;
  font-size: 15px;
  line-height: 1.15;
  color: #000;
}

ul,
ul li {
  padding: 0;
  list-style: none;
  position: relative;
}

ul,
ol {
  padding: 0;
  padding-left: 20px;
}

ul li,
ol li {
  margin-bottom: 21px;
}

ul li::before {
  content: '';
  display: block;
  width: 6px;
  height: 6px;
  border-radius: 50%;
  background: #eb6441;
  position: absolute;
  top: 10px;
  left: -20px;
}

p + h2,
p + .h2 {
  margin-top: 35px;
}

ul + p,
ol + p {
  margin-top: -5px;
}

p + img {
  margin-top: 35px;
}

img + h2,
img + .h2 {
  margin-top: 50px;
}

hr {
  color: #e4e4e4;
  background-color: #e4e4e4;
  border: 0px none;
  outline: 0;
  height: 1px;
  margin: 0;
}

.wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  min-height: 100vh;
  width: 100%;
  max-width: 1920px;
  margin: 0 auto;
}

main {
  -webkit-box-flex: 1;
  -ms-flex: 1;
  flex: 1;
  padding-bottom: 100px;
}

.no-indent {
  margin-bottom: -100px;
}

.btn,
input[type="submit"].btn {
  display: inline-block;
  height: 50px;
  background: #eb6441;
  border: 1px solid #eb6441;
  border-radius: 25px;
  outline: none;
  font-style: normal;
  font-weight: 500;
  font-size: 15px;
  line-height: 48px;
  color: #fff;
  padding: 0 25px;
  text-align: center;
  cursor: pointer;
  text-decoration: none;
  min-width: 180px;
  -webkit-box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.1);
  box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.1);
}

input[type="submit"].btn:hover,
.btn:hover {
  background: #ea542d;
}

.btn--border {
  background: transparent;
  color: #eb6441;
  -webkit-box-shadow: none;
  box-shadow: none;
}

.btn--border:hover {
  background: #eb6441;
  color: #fff;
}

.btn--white {
  border-color: #fff;
  background: transparent;
  color: #fff;
  -webkit-box-shadow: none;
  box-shadow: none;
}

.btn--white:hover {
  background: #fff;
  color: #000;
}

.code {
  background-color: #f7f7f7;
  border: 1px solid #e1e1e8;
  color: #d14;
  padding: 1px 4px;
  display: inline-block;
  font-family: monospace, arial;
  border-radius: 3px;
}

.h-text-left {
  text-align: left !important;
}

.h-text-center {
  text-align: center !important;
}

.h-text-right {
  text-align: right !important;
}

.h-text-justify {
  text-align: justify !important;
}

.h-text-uppercase {
  text-transform: uppercase !important;
}

.h-text-bold {
  font-weight: 700 !important;
}

.h-text-orange {
  color: #eb6441 !important;
}

.fancybox-content {
  padding: 40px;
}

.fancybox-close-small svg path {
  fill: #eb6441;
}

a[data-fancybox="images"] {
  cursor: url(../img/ic-zoom.png), pointer;
}

.slimScrollBar {
  opacity: 1 !important;
}

.scroll-content {
  overflow: hidden;
}

/*-------------- Header -----------------*/
.header {
  -webkit-box-shadow: 0px 15px 30px rgba(0, 0, 0, 0.05);
  box-shadow: 0px 15px 30px rgba(0, 0, 0, 0.05);
}

.header-top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  border-bottom: 1px solid #e4e4e4;
  padding-top: 25px;
  padding-bottom: 20px;
}

.header-top__info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.header-top__address {
  margin-right: 50px;
}

.header-top__phone, .header-top__street {
  font-style: normal;
  font-weight: 500;
  font-size: 15px;
  line-height: 1.15;
  color: #000;
  margin-bottom: 8px;
}

.header-top__phone a {
  color: #000;
  text-decoration: none;
}

.header-top__time, .header-top__subway {
  font-style: normal;
  font-weight: normal;
  font-size: 13px;
  line-height: 1.15;
  color: #000;
}

.header-top__subway {
  position: relative;
}

.header-top__subway::before {
  content: '';
  display: inline-block;
  width: 18px;
  height: 12px;
  background: url(../img/sprite.png) no-repeat -5px -5px;
  margin-right: 10px;
}

.header-top__subway--yellow::before {
  background-position: -30px -5px;
}

.header-top__subway--orange::before {
  background-position: -55px -5px;
}

.header-top .btn {
  height: 45px;
  line-height: 43px;
}

.header-bottom {
  padding: 20px 0;
}

.top-menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  padding: 0;
  margin: 0;
  list-style: none;
}

.top-menu ul,
.top-menu li {
  padding: 0;
  margin: 0;
  list-style: none;
}

.top-menu li::before {
  display: none;
}

.top-menu__item {
  position: relative;
}

.top-menu__item,
.top-menu__item > a {
  font-style: normal;
  font-weight: normal;
  font-size: 15px;
  line-height: 1.15;
  color: #000;
  text-decoration: none;
  cursor: pointer;
}

.top-menu__item .ic-hamburger {
  margin-right: 12px;
}

.top-menu__item:hover > a {
  color: #eb6441;
}

.top-menu__item:hover > .ic-hamburger span,
.top-menu__item:hover > .ic-hamburger span::before,
.top-menu__item:hover > .ic-hamburger span::after {
  background-color: #eb6441;
}

.top-menu__sub {
  display: none;
  position: absolute;
  top: 100%;
  left: 0;
  z-index: 10;
  background-color: #fff;
  -webkit-box-shadow: 0px 15px 30px rgba(0, 0, 0, 0.05);
  box-shadow: 0px 15px 30px rgba(0, 0, 0, 0.05);
}

.top-menu__item:hover .top-menu__sub {
  display: block;
}

.top-menu__sub-item,
.top-menu__sub-item a {
  font-style: normal;
  font-weight: normal;
  font-size: 15px;
  line-height: 1.15;
  color: #000;
  text-decoration: none;
}

.top-menu__sub-item a:hover {
  color: #eb6441;
}

.top-menu .top-menu__sub {
  padding: 10px 0;
}

.top-menu .top-menu__sub-item {
  padding: 10px 15px;
}

/*-------------- Footer -----------------*/
.footer {
  background: #f4f4f4;
}

.footer-top {
  padding: 75px 0 80px;
}

.footer-top__logo {
  margin-top: 5px;
}

.footer-menu {
  padding: 0;
  margin: 0;
  list-style: none;
}

.footer-menu ul,
.footer-menu li {
  padding: 0;
  margin: 0;
  list-style: none;
}

.footer-menu li::before {
  display: none;
}

.footer-menu__head {
  display: inline-block;
  font-style: normal;
  font-weight: 500;
  font-size: 17px;
  line-height: 1.15;
  color: #000;
  text-decoration: none;
  margin-bottom: 20px;
}

.footer-menu__item,
.footer-menu__item a {
  font-style: normal;
  font-weight: normal;
  font-size: 15px;
  line-height: 1.15;
  color: #000;
  text-decoration: none;
}

.footer-menu__item:not(:last-child) {
  margin-bottom: 16px;
}

.footer-menu__item a:hover, .footer-menu__head:hover {
  color: #eb6441;
}

.footer-contact-wrap {
  margin-left: -30px;
}

.footer-contact-wrap .btn {
  margin-top: 10px;
  height: 45px;
  line-height: 43px;
  min-width: 200px;
}

.footer-contact {
  font-style: normal;
  font-weight: normal;
  font-size: 15px;
  line-height: 1.45;
  color: #000;
}

.footer-contact__item {
  position: relative;
  padding-left: 25px;
  margin-bottom: 10px;
}

.footer-contact__item::before {
  content: '';
  display: block;
  width: 15px;
  height: 15px;
  position: absolute;
  top: 4px;
  left: 0;
}

.footer-contact__item--map::before {
  background: url(../img/ic-map.svg) no-repeat center;
  width: 17px;
  height: 17px;
}

.footer-contact__item--phone::before {
  background: url(../img/ic-phone.svg) no-repeat center;
}

.footer-contact__item--mail::before {
  background: url(../img/ic-mail.svg) no-repeat center;
}

.footer-top__head {
  font-style: normal;
  font-weight: 500;
  font-size: 17px;
  line-height: 1.15;
  color: #000;
  margin-bottom: 20px;
}

.footer-bottom {
  border-top: 1px solid #e4e4e4;
  padding: 25px 0;
}

.footer-bottom__copyright {
  font-style: normal;
  font-weight: normal;
  font-size: 15px;
  line-height: 1.15;
  color: #a4a4a4;
}

.footer-bottom__polit {
  display: table;
  font-style: normal;
  font-weight: normal;
  font-size: 15px;
  line-height: 1.15;
  color: #000;
  text-align: right;
  text-decoration: none;
  margin-left: auto;
}

.footer-bottom__polit:hover {
  color: #eb6441;
}

/*----------- form-site -------------*/
.form-site-popup {
  max-width: 360px;
}

.form-site__head {
  font-style: normal;
  font-weight: 500;
  font-size: 19px;
  line-height: 1.15;
  color: #000;
  text-align: center;
  margin-bottom: 5px;
}

.form-site__text {
  font-style: normal;
  font-weight: normal;
  font-size: 15px;
  line-height: 1.45;
  color: #a4a4a4;
  text-align: center;
}

.form-site__fields {
  margin-top: 25px;
}

.form-site input[type="text"],
.form-site input[type="email"],
.form-site textarea {
  height: 50px;
  width: 100%;
  outline: none;
  border: 1px solid #c4c4c4;
  border-radius: 25px;
  font-style: normal;
  font-weight: normal;
  font-size: 15px;
  line-height: 1.15;
  color: #000;
  padding: 0 25px;
  margin-bottom: 20px;
}

.form-site textarea {
  height: 150px;
}

.form-site input[type="text"]::-webkit-input-placeholder,
.form-site input[type="email"]::-webkit-input-placeholder,
.form-site textarea::-webkit-input-placeholder {
  color: #a4a4a4;
}

.form-site input[type="text"]::-moz-placeholder,
.form-site input[type="email"]::-moz-placeholder,
.form-site textarea::-moz-placeholder {
  color: #a4a4a4;
}

.form-site input[type="text"]:-ms-input-placeholder,
.form-site input[type="email"]:-ms-input-placeholder,
.form-site textarea:-ms-input-placeholder {
  color: #a4a4a4;
}

.form-site input[type="text"]::-ms-input-placeholder,
.form-site input[type="email"]::-ms-input-placeholder,
.form-site textarea::-ms-input-placeholder {
  color: #a4a4a4;
}

.form-site input[type="text"]::placeholder,
.form-site input[type="email"]::placeholder,
.form-site textarea::placeholder {
  color: #a4a4a4;
}

.form-site .btn {
  width: 100%;
}

.form-site--hor {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  background: #fff;
  -webkit-box-shadow: 0px 15px 30px rgba(0, 0, 0, 0.05);
  box-shadow: 0px 15px 30px rgba(0, 0, 0, 0.05);
  padding: 35px;
}

.form-site--hor .form-site__text {
  font-style: normal;
  font-weight: 500;
  font-size: 32px;
  line-height: 1.15;
  color: #000;
  text-align: left;
  width: calc(100% - 720px);
  padding-right: 40px;
}

.form-site--hor .form-site__text,
.form-site--hor .form-site__fields,
.form-site--hor input[type="text"],
.form-site--hor input[type="email"],
.form-site--hor textarea {
  margin: 0;
}

.form-site--hor input[type="text"],
.form-site--hor input[type="email"],
.form-site--hor textarea {
  margin-right: 30px;
  width: 220px;
}

.form-site--hor .form-site__fields {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.form-site--hor .btn {
  width: 220px;
}

.form-site input[type="submit"].btn {
  font-weight: 600;
}

.success-alert {
  max-width: 360px;
}

.success-alert__text {
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 1.45;
  color: #000;
  text-align: center;
}

/*----------- top-slider -------------*/
.top-slider {
  position: relative;
  margin-bottom: 35px;
}

.top-slider__list, .top-slider__item {
  height: 640px;
  overflow: hidden;
}

.top-slider__item {
  display: -webkit-box !important;
  display: -ms-flexbox !important;
  display: flex !important;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  background-repeat: no-repeat;
  background-position: center;
  color: #fff;
}

.top-slider__label {
  font-style: normal;
  font-weight: 500;
  font-size: 21px;
  line-height: 1.15;
  color: #fff;
  margin-bottom: 35px;
}

.top-slider__head {
  font-style: normal;
  font-weight: bold;
  font-size: 50px;
  line-height: 1.15;
  color: #fff;
  margin-bottom: 50px;
}

.top-slider__counter-wrap {
  position: absolute;
  bottom: 55px;
  left: 15px;
}

.top-slider__counter {
  display: block;
  width: 110px;
  text-align: center;
  font-style: normal;
  font-weight: normal;
  font-size: 28px;
  line-height: 1;
  color: #fff;
  margin-left: 30px;
}

.top-slider__counter span {
  font-style: normal;
  font-weight: 500;
  font-size: 15px;
  line-height: 1;
  color: #838486;
}

.top-slider .slick-arrow {
  display: inline-block;
  width: 30px;
  height: 14px;
  outline: 0;
  border: 0;
  font-size: 0;
  padding: 0;
  margin: 0;
  background-image: url(../img/sprite.png);
  background-repeat: no-repeat;
  background-color: transparent;
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
  cursor: pointer;
}

.top-slider .slick-prev {
  left: 0;
  background-position: -5px  -35px;
}

.top-slider .slick-next {
  left: 140px;
  background-position: -50px  -35px;
}

.top-slider .slick-prev:hover {
  background-position: -5px  -60px;
}

.top-slider .slick-next:hover {
  background-position: -50px  -60px;
}

.top-slider .btn {
  min-width: 220px;
}

/*----------- services -------------*/
.services-wrap {
  margin-top: 85px;
}

.services-wrap h1,
.services-wrap .h1 {
  margin-bottom: 30px;
}

.services__item {
  display: block;
  text-decoration: none;
  padding: 30px;
  margin-bottom: 25px;
}

.services__head {
  font-style: normal;
  font-weight: 500;
  font-size: 19px;
  line-height: 1.15;
  color: #000;
  margin-top: 20px;
}

.services__text {
  font-style: normal;
  font-weight: normal;
  font-size: 15px;
  line-height: 1.75;
  color: #a4a4a4;
  margin-top: 15px;
}

.services__more {
  display: inline-block;
  font-size: 0;
  margin-top: 10px;
  position: relative;
  padding-right: 30px;
  min-height: 14px;
  min-width: 30px;
}

.services__more::after {
  content: '';
  display: block;
  width: 30px;
  height: 14px;
  background: url(../img/sprite.png) no-repeat -50px -85px;
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
  right: 0;
}

.services__item:hover {
  -webkit-box-shadow: 0px 15px 30px rgba(0, 0, 0, 0.05);
  box-shadow: 0px 15px 30px rgba(0, 0, 0, 0.05);
}

.services__item:hover .services__head {
  color: #eb5b36;
}

.services__item:hover .services__more {
  padding-right: 45px;
  font-style: normal;
  font-weight: 500;
  font-size: 15px;
  line-height: 1;
  color: #eb5b36;
}

.services-page .partner-wrap {
  margin-top: 28px;
  margin-bottom: 95px;
}

.services-page .map-wrap {
  margin-top: 5px;
}

.services-page .repair-form-wrap {
  margin-top: 5px;
}

.services-detail .popular-services-wrap {
  margin-top: 83px;
  margin-bottom: 15px;
}

.services-detail .special-offer-wrap {
  margin-top: 85px;
}

.services-detail .map-wrap {
  margin-top: 75px;
}

.services-detail .advant-wrap {
  margin-bottom: 25px;
}

/*----------- about -------------*/
.about-wrap {
  margin-top: 45px;
}

.about {
  background: url(../img/bg-about.jpg) no-repeat center;
  padding: 82px 125px 90px;
  color: #fff;
}

.about__head {
  font-style: normal;
  font-weight: 500;
  font-size: 40px;
  line-height: 1.15;
  color: #fff;
  text-align: center;
  margin-bottom: 60px;
}

.about__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.about__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.about__item:not(:last-child) {
  margin-right: 55px;
}

.about__num {
  font-style: normal;
  font-weight: 500;
  font-size: 80px;
  line-height: 1;
  color: #fff;
  margin-right: 20px;
}

.about__unit {
  font-size: 40px;
  font-weight: bold;
}

.about__text {
  font-style: normal;
  font-weight: 500;
  font-size: 15px;
  line-height: 1.45;
  color: #fff;
}

.about-text {
  margin-bottom: 75px;
}

/*----------- advant -------------*/
.advant-wrap {
  margin-top: 85px;
  margin-bottom: 20px;
}

.advant-wrap h1,
.advant-wrap .h1 {
  margin-bottom: 68px;
}

.advant__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 68px;
}

.advant__img {
  margin-right: 30px;
  padding-top: 3px;
}

.advant__cotent {
  width: calc(100% - 100px);
}

.advant__head {
  font-style: normal;
  font-weight: 500;
  font-size: 19px;
  line-height: 1.15;
  color: #000;
  margin-bottom: 15px;
}

.advant__text {
  font-style: normal;
  font-weight: normal;
  font-size: 15px;
  line-height: 1.75;
  color: #a4a4a4;
}

/*----------- partner -------------*/
.partner-wrap {
  margin-top: 80px;
}

.partner-wrap h1,
.partner-wrap .h1 {
  margin-bottom: 72px;
}

.partner-wrap .partner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  height: 90px;
  width: 100%;
  overflow: hidden;
}

.partner-wrap .partner__item {
  width: 14%;
}

.partner-wrap .partner__item img {
  margin: 0 auto;
}

.partner-wrap .partner.slick-initialized {
  overflow: visible;
}

.partner-wrap .partner .slick-arrow {
  display: inline-block;
  width: 30px;
  height: 14px;
  outline: 0;
  border: 0;
  font-size: 0;
  padding: 0;
  margin: 0;
  background-image: url(../img/sprite.png);
  background-repeat: no-repeat;
  background-color: transparent;
  position: absolute;
  top: -98px;
  cursor: pointer;
}

.partner-wrap .partner .slick-prev {
  right: 60px;
  background-position: -5px -110px;
}

.partner-wrap .partner .slick-next {
  right: 0;
  background-position: -50px -110px;
}

.partner-wrap .partner .slick-prev:hover {
  background-position: -5px -85px;
}

.partner-wrap .partner .slick-next:hover {
  background-position: -50px -85px;
}

/*----------- map -------------*/
.map-wrap {
  margin-top: 85px;
}

.map-wrap--tab {
  margin-top: 18px;
  margin-bottom: 98px;
}

.map-wrap h1,
.map-wrap .h1 {
  margin-bottom: 70px;
}

.map {
  width: 100%;
  height: 640px;
  position: relative;
}

.map .tabs {
  position: absolute;
  top: 60px;
  left: 50%;
  -webkit-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  transform: translateX(-50%);
  margin: 0 auto;
  z-index: 10;
}

.map .ymaps-2-1-73-ground-pane {
  -webkit-filter: grayscale(100%);
  filter: grayscale(100%);
}

.map-tabs {
  position: relative;
}

.map-tabs .tabs {
  position: absolute;
  top: -115px;
  right: 15px;
}

.map-info {
  margin-bottom: 80px;
}

.map-info__list {
  display: none;
}

.map-info__list.active {
  display: block;
}

.map-info__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.map-info__img {
  margin-right: 25px;
}

.map-info__content {
  width: calc(100% - 95px);
}

.map-info__head {
  font-style: normal;
  font-weight: 500;
  font-size: 19px;
  line-height: 1.15;
  color: #000;
}

.map-info__text,
.map-info__text a {
  font-style: normal;
  font-weight: normal;
  font-size: 15px;
  line-height: 1.15;
  color: #a4a4a4;
  text-decoration: none;
}

.map-info__text {
  margin-top: 5px;
}

.map-info__text a:hover {
  color: #eb6441;
}

.map-info .btn {
  display: table;
  margin-left: auto;
  min-width: 240px;
}

/*----------- tabs -------------*/
.tabs {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.tabs__item {
  height: 50px;
  padding: 0 30px;
  font-style: normal;
  font-weight: 500;
  font-size: 15px;
  line-height: 48px;
  color: #000;
  text-decoration: none;
  background: #fff;
  white-space: nowrap;
  cursor: pointer;
}

.tabs__item:first-child {
  border-top-left-radius: 25px;
  border-bottom-left-radius: 25px;
}

.tabs__item:last-child {
  border-top-right-radius: 25px;
  border-bottom-right-radius: 25px;
}

.tabs__item:not(:last-child) {
  border-right: 1px solid #a4a4a4;
}

.tabs__item.active {
  background: #eb6441;
  color: #fff;
  border-color: #eb6441;
}

.tabs__item:hover {
  color: #eb6441;
}

/*----------- repair-form -------------*/
.repair-form-wrap {
  padding: 158px 0 100px;
  margin-top: 85px;
  background: url(../img/bg-repear-form.jpg) no-repeat center;
  -webkit-clip-path: url(#clipping);
  clip-path: url(#clipping);
}

.repair-form-wrap .h1-white {
  font-size: 40px;
  text-align: center;
  max-width: 945px;
  margin: 0 auto;
  margin-bottom: 70px;
}

.repair-form-wrap .form-site--hor {
  background: transparent;
  -webkit-box-shadow: none;
  box-shadow: none;
  padding: 0;
}

.repair-form-wrap .form-site__fields {
  width: calc(100% - 300px);
}

.repair-form-wrap .btn {
  width: 300px;
}

.repair-form-wrap .form-site--hor input[type="text"],
.repair-form-wrap .form-site--hor input[type="mail"],
.repair-form-wrap .form-site--hor textarea {
  width: 100%;
  background: transparent;
  color: #fff;
}

.repair-form-wrap .form-site--hor input[type="text"]:focus,
.repair-form-wrap .form-site--hor input[type="mail"]:focus,
.repair-form-wrap .form-site--hor textarea:focus {
  background: #fff;
  color: #000;
}

.repair-form-wrap input[type="text"]::-webkit-input-placeholder,
.repair-form-wrap input[type="mail"]::-webkit-input-placeholder,
.repair-form-wrap textarea::-webkit-input-placeholder {
  color: #fff;
  opacity: 1;
}

.repair-form-wrap input[type="text"]::-moz-placeholder,
.repair-form-wrap input[type="mail"]::-moz-placeholder,
.repair-form-wrap textarea::-moz-placeholder {
  color: #fff;
  opacity: 1;
}

.repair-form-wrap input[type="text"]:-ms-input-placeholder,
.repair-form-wrap input[type="mail"]:-ms-input-placeholder,
.repair-form-wrap textarea:-ms-input-placeholder {
  color: #fff;
  opacity: 1;
}

.repair-form-wrap input[type="text"]::-ms-input-placeholder,
.repair-form-wrap input[type="mail"]::-ms-input-placeholder,
.repair-form-wrap textarea::-ms-input-placeholder {
  color: #fff;
  opacity: 1;
}

.repair-form-wrap input[type="text"]::placeholder,
.repair-form-wrap input[type="mail"]::placeholder,
.repair-form-wrap textarea::placeholder {
  color: #fff;
  opacity: 1;
}

/*----------- special-offer -------------*/
.special-offer-wrap {
  margin-top: -15px;
}

.special-offer-wrap h1,
.special-offer-wrap .h1 {
  margin-bottom: 60px;
}

.special-offer__item {
  display: block;
  width: 100%;
  height: 405px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  position: relative;
  text-decoration: none;
  margin-bottom: 30px;
}

.special-offer__text {
  font-style: normal;
  font-weight: 500;
  font-size: 21px;
  line-height: 1.45;
  color: #fff;
  padding: 32px 40px;
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  margin: 0 auto;
  width: 100%;
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0)), to(#000000));
  background: -o-linear-gradient(top, rgba(0, 0, 0, 0) 0%, #000000 100%);
  background: linear-gradient(180deg, rgba(0, 0, 0, 0) 0%, #000000 100%);
}

/*----------- popular-services -------------*/
.popular-services-wrap {
  margin-top: 75px;
}

.popular-services-wrap h1,
.popular-services-wrap .h1 {
  margin-bottom: 73px;
}

.popular-services__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  margin-bottom: 80px;
}

.popular-services__img {
  margin-right: 20px;
}

.popular-services__text {
  font-style: normal;
  font-weight: 500;
  font-size: 17px;
  line-height: 1.15;
  color: #000;
  width: calc(100% - 90px);
}

/*----------- service-seo-text -------------*/
.service-seo-text {
  margin-top: 82px;
}

.service-seo-text__head {
  font-style: normal;
  font-weight: 500;
  font-size: 40px;
  line-height: 1.15;
  color: #000;
}

/*----------- bredcrumb -------------*/
.bredcrumb {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  padding: 20px 0;
  margin-bottom: 40px;
}

.bredcrumb__item {
  display: inline-block;
  font-style: normal;
  font-weight: normal;
  font-size: 15px;
  line-height: 1.15;
  color: #a4a4a4;
  position: relative;
}

.bredcrumb__item:not(:last-child) {
  padding-right: 35px;
}

.bredcrumb__item:not(:last-child)::after {
  content: '\2014';
  color: #000;
  position: absolute;
  right: 10px;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}

a.bredcrumb__item {
  color: #000;
  text-decoration: none;
}

a.bredcrumb__item:hover {
  color: #eb6441;
}

/*----------- top-poster -------------*/
.top-poster {
  margin-top: 17px;
}

.top-poster__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 520px;
  width: 100%;
  background: url(../img/bg-top-poster.jpg) no-repeat center top;
  padding: 30px 80px;
}

.top-poster__text {
  font-style: normal;
  font-weight: bold;
  font-size: 40px;
  line-height: 1.15;
  color: #fff;
}

.top-poster__btn {
  margin-top: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}

.top-poster .btn {
  margin-right: 30px;
  min-width: 220px;
}

/*----------- repair-avto -------------*/
.repair-avto {
  margin-top: 100px;
}

.repair-avto__img {
  text-align: center;
}

.repair-avto__text {
  font-style: normal;
  font-weight: normal;
  font-size: 15px;
  line-height: 1.75;
  color: #000;
}

.repair-avto .btn {
  margin-top: 30px;
}

.repair-avto-service__list, .repair-avto-service__item {
  padding: 0;
  margin: 0;
  list-style: none;
}

.repair-avto-service li::before {
  display: none;
}

.repair-avto-service__list {
  width: 100%;
  height: 265px;
}

.repair-avto-service__item {
  padding: 10px 0;
  margin-bottom: 5px;
}

.repair-avto-service__item,
.repair-avto-service__item a {
  font-style: normal;
  font-weight: 500;
  font-size: 17px;
  line-height: 1.15;
  color: #000;
  text-decoration: none;
}

.repair-avto-service__item a:hover {
  color: #eb6441;
}

.repair-avto-service__more {
  display: inline-block;
  font-style: normal;
  font-weight: normal;
  font-size: 17px;
  line-height: 1.15;
  color: #a4a4a4;
  text-decoration: none;
  border-bottom: 1px dotted #a4a4a4;
  margin-top: 10px;
}

.repair-avto-service__more:hover {
  border-bottom: 0;
  color: #eb6441;
}

.repair-avto-service__list::-webkit-scrollbar {
  width: 1px;
  background-color: #e4e4e4;
}

.repair-avto-service__list::-webkit-scrollbar-thumb {
  background-color: #eb6441;
}

/*----------- about-slider -------------*/
.about-slider-wrap {
  max-width: 350px;
  max-height: 480px;
  -webkit-box-shadow: 0px 15px 30px rgba(0, 0, 0, 0.05);
  box-shadow: 0px 15px 30px rgba(0, 0, 0, 0.05);
  margin-left: 60px;
  margin-top: 78px;
  position: relative;
}

.about-slider {
  top: -60px;
  left: -60px;
  height: calc(100% + 60px);
  height: 540px;
  overflow: hidden;
}

.about-slider.slick-initialized {
  height: auto;
  overflow: visible;
}

.about-slider__label {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 60px;
  width: 100%;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  font-style: italic;
  font-weight: normal;
  font-size: 15px;
  line-height: 1.15;
  color: #000;
  padding: 20px 30px 20px 90px;
  overflow: hidden;
}

.about-slider .slick-arrow {
  display: inline-block;
  width: 14px;
  height: 30px;
  outline: 0;
  border: 0;
  font-size: 0;
  padding: 0;
  margin: 0;
  background-image: url(../img/sprite.png);
  background-repeat: no-repeat;
  background-color: transparent;
  position: absolute;
  right: -36px;
  cursor: pointer;
}

.about-slider .slick-prev {
  top: 90px;
  background-position: -40px  -140px;
}

.about-slider .slick-next {
  top: 140px;
  background-position: -40px  -185px;
}

.about-slider .slick-prev:hover {
  background-position: -5px  -140px;
}

.about-slider .slick-next:hover {
  background-position: -5px  -185px;
}

.about-slider .slick-dots,
.about-slider .slick-dots li {
  padding: 0;
  margin: 0;
  list-style: none;
}

.about-slider .slick-dots li::before {
  display: none;
}

.about-slider .slick-dots {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  position: absolute;
  right: -30px;
  bottom: 60px;
}

.about-slider .slick-dots button {
  display: block;
  padding: 0;
  margin: 0;
  outline: 0;
  border: 0;
  font-size: 0;
  width: 2px;
  height: 30px;
  background: #a4a4a4;
  cursor: pointer;
}

.about-slider .slick-dots button:hover,
.about-slider .slick-dots .slick-active button {
  background: #000;
  height: 40px;
}

.about-slider .slick-dots li:not(:last-child) button {
  margin-bottom: 20px;
}

.about-slider.slick-vertical .slick-slide {
  border: 0;
  outline: 0;
}

.about-slider .slick-slide img {
  height: 480px;
}

/*----------- history -------------*/
.history-wrap {
  margin-top: 85px;
}

.history-wrap h1,
.history-wrap .h1 {
  margin-bottom: 70px;
}

/*----------- news-list -------------*/
.news-list {
  margin-top: 18px;
  margin-bottom: 50px;
}

.news-list__item {
  border: 3px solid #f4f4f4;
  padding: 56px 40px 50px;
  min-height: 200px;
  margin-bottom: 30px;
  position: relative;
}

.news-list__date {
  display: block;
  font-style: normal;
  font-weight: normal;
  font-size: 15px;
  line-height: 1.15;
  color: #a4a4a4;
  margin-bottom: 10px;
  padding-left: 25px;
  position: relative;
}

.news-list__date::before {
  content: '';
  display: block;
  width: 15px;
  height: 15px;
  background: url(../img/ic-calendar.svg) no-repeat center;
  position: absolute;
  left: 0;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}

.news-list__head {
  display: inline-block;
  font-style: normal;
  font-weight: 500;
  font-size: 21px;
  line-height: 1.45;
  color: #000;
  text-decoration: none;
}

.news-list__item--big {
  border: 0;
  height: 430px;
  color: #fff;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.news-list__item--big .news-list__date,
.news-list__item--big .news-list__head {
  color: #fff;
}

.news-list__item--big .news-list__content {
  padding: 35px 40px;
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  margin: 0 auto;
  width: 100%;
}

.news-list__item--big .news-list__date::before {
  background-image: url(../img/ic-calendar-white.svg);
}

.news-list__head:hover {
  color: #eb6441;
}

/*----------- pager -------------*/
.pager {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  margin: 30px 0;
}

.pager__item {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  font-style: normal;
  font-weight: normal;
  font-size: 15px;
  line-height: 1;
  color: #000;
  text-align: center;
  text-decoration: none;
  background: transparent;
}

.pager__item:hover, .pager__item.active {
  background: #eb6441;
  color: #fff;
}

.pager__item:not(:last-child) {
  margin-right: 15px;
}

/*----------- news-detail -------------*/
.header-news {
  height: 520px;
  background-repeat: no-repeat;
  background-position: center;
  color: #fff;
  margin-top: 17px;
  margin-bottom: 15px;
}

.header-news__content {
  padding: 55px 80px;
}

.header-news__time-wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  margin-bottom: 120px;
}

.header-news__date, .header-news__time {
  font-style: normal;
  font-weight: 500;
  font-size: 15px;
  line-height: 1.15;
  color: #fff;
  padding-left: 25px;
  position: relative;
}

.header-news__time {
  margin-left: 65px;
}

.header-news__date::before, .header-news__time::before {
  content: '';
  display: block;
  width: 15px;
  height: 15px;
  position: absolute;
  left: 0;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}

.header-news__date::before {
  background: url(../img/ic-calendar-white.svg) no-repeat center;
}

.header-news__time::before {
  background: url(../img/ic-time.svg) no-repeat center;
}

.header-news__head {
  font-style: normal;
  font-weight: bold;
  font-size: 40px;
  line-height: 1.15;
  color: #fff;
  padding: 0;
  margin: 0;
  max-width: 440px;
}

.detail-news__content {
  padding: 0 80px;
}

.detail-news__more {
  margin-bottom: 68px;
}

.detail-news__more h2,
.detail-news__more .h2 {
  padding: 47px 80px 0;
  border-top: 1px solid #e4e4e4;
  margin-top: 15px;
  margin-bottom: 35px;
}

.news-img-full {
  margin-left: -80px;
  margin-right: -80px;
  max-width: calc(100% + 160px);
}

/*----------- share -------------*/
.share {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  margin: 45px 0;
}

.share__label {
  font-style: normal;
  font-weight: 500;
  font-size: 17px;
  line-height: 1.15;
  color: #000;
  margin-right: 15px;
}

.share__item {
  display: block;
  width: 80px;
  height: 40px;
  border-radius: 20px;
  background-color: #5181B8;
  position: relative;
}

.share__item:not(:last-child) {
  margin-right: 15px;
}

.share__item--vk {
  background-color: #5181b8;
}

.share__item--vk {
  background-color: #31619e;
}

.share__item--vk {
  background-color: #3fa6da;
}

.share__item--vk:hover {
  background-color: #4670a0;
}

.share__item--vk:hover {
  background-color: #2a5489;
}

.share__item--vk:hover {
  background-color: #3893c1;
}

.share__item::after {
  content: '';
  display: block;
  width: 18px;
  height: 18px;
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
  left: 0;
  right: 0;
  margin: 0 auto;
}

.share__item--vk::after {
  background-image: url(../img/ic-vk.svg);
}

.share__item--fb::after {
  background-image: url(../img/ic-fb.svg);
}

.share__item--tw::after {
  background-image: url(../img/ic-tw.svg);
}

.share__item--vk::after, .share__item--fb::after, .share__item--tw::after {
  background-repeat: no-repeat;
  background-position: center;
}

/*----------- contact -------------*/
.contact-detail {
  margin-top: 18px;
}

.contact-detail .advant-wrap {
  margin-top: 80px;
  margin-bottom: 8px;
}

.contact-detail .map-wrap {
  margin-top: 60px;
}

.contact-info {
  margin-bottom: 97px;
}

.contact-info__content {
  padding-left: 50px;
}

.contact-info__desc {
  font-style: normal;
  font-weight: normal;
  font-size: 15px;
  line-height: 1.75;
  color: #000;
  margin-top: 16px;
}

.contact-list {
  font-style: normal;
  font-weight: normal;
  font-size: 15px;
  line-height: 1.15;
  color: #000;
  margin-top: -3px;
}

.contact-list__item {
  position: relative;
  padding-left: 27px;
  margin-bottom: 18px;
}

.contact-list__item::before {
  content: '';
  display: block;
  width: 15px;
  height: 15px;
  position: absolute;
  top: 2px;
  left: 0;
}

.contact-list__item--map::before {
  background: url(../img/ic-map.svg) no-repeat center;
  width: 17px;
  height: 17px;
}

.contact-list__item--phone::before {
  background: url(../img/ic-phone.svg) no-repeat center;
}

.contact-list__item--mail::before {
  background: url(../img/ic-mail.svg) no-repeat center;
}

.contact-list__item--time::before {
  background: url(../img/ic-time-color.svg) no-repeat center;
}

.contact-partner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  padding: 18px 30px;
  -webkit-box-shadow: 0px 15px 30px rgba(0, 0, 0, 0.05);
  box-shadow: 0px 15px 30px rgba(0, 0, 0, 0.05);
  margin-top: 22px;
}

.contact-partner__label {
  font-style: normal;
  font-weight: 500;
  font-size: 15px;
  line-height: 1.15;
  color: #000;
  margin-right: 30px;
}

.contact-partner__item {
  max-height: 40px;
}

.contact-partner__item:not(:last-child) {
  margin-right: 30px;
}

/*----------- gallery -------------*/
.gallery-wrap h1,
.gallery-wrap .h1 {
  margin-bottom: 72px;
}

.gallery-wrap .btn {
  display: table;
  min-width: 220px;
  margin: 0 auto;
  margin-top: 30px;
}

.gallery {
  -webkit-column-count: 3;
  -moz-column-count: 3;
  column-count: 3;
  -webkit-column-gap: 30px;
  -moz-column-gap: 30px;
  column-gap: 30px;
}

.gallery__item {
  display: block;
  margin-bottom: 30px;
  text-decoration: none;
}

/*-------------- unwrap-block -----------------*/
.unwrap-block-list {
  -webkit-column-count: 2;
  -moz-column-count: 2;
  column-count: 2;
  -webkit-column-gap: 30px;
  -moz-column-gap: 30px;
  column-gap: 30px;
}

.unwrap-block {
  border-bottom: 1px solid #e4e4e4;
  border-top: 1px solid #e4e4e4;
  margin-top: -1px;
}

.unwrap-block:first-child {
  margin-top: 0;
}

.unwrap-block__head {
  font-style: normal;
  font-weight: 500;
  font-size: 19px;
  line-height: 1.15;
  color: #000;
  padding: 22px 50px 28px 0;
  position: relative;
  cursor: pointer;
}

.unwrap-block__head:hover {
  color: #eb6441;
}

.unwrap-block__head:after {
  content: '';
  display: block;
  width: 15px;
  height: 8px;
  background: url(../img/sprite.png) no-repeat -5px -270px;
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
  right: 30px;
}

.unwrap-block__head:hover:after {
  background-position: -40px -270px;
}

.unwrap-block.opened .unwrap-block__head:after {
  background-position: -5px -240px;
}

.unwrap-block.opened .unwrap-block__head:hover:after {
  background-position: -40px -240px;
}

.unwrap-block__content {
  display: none;
  padding-bottom: 30px;
}

.unwrap-block__content,
.unwrap-block__content p,
.unwrap-block__content li {
  font-style: normal;
  font-weight: normal;
  font-size: 15px;
  line-height: 1.75;
  color: #a4a4a4;
}

.unwrap-block__title {
  font-style: normal;
  font-weight: normal;
  font-size: 17px;
  line-height: 1.15;
  color: #000;
  margin-bottom: 10px;
}

.unwrap-block ul li,
.unwrap-block ol li {
  margin-bottom: 7px;
}

ul + .unwrap-block__title,
ol + .unwrap-block__title {
  margin-top: 15px;
}

.unwrap-block .btn {
  margin-top: 10px;
  min-width: 220px;
}

/*-------------- faq -----------------*/
.faq {
  margin-bottom: 95px;
}

.faq__item {
  margin-bottom: 65px;
}

.question {
  margin-bottom: 40px;
}

.question__head {
  font-style: normal;
  font-weight: 500;
  font-size: 19px;
  line-height: 1.15;
  color: #000;
  margin-bottom: 25px;
}

.question__text {
  font-style: normal;
  font-weight: normal;
  font-size: 15px;
  line-height: 1.75;
  color: #a4a4a4;
}

/*-------------- record-form -----------------*/
.record-form {
  display: none;
  text-align: center;
}

.record-form.active {
  display: block;
}

.record-form h1,
.record-form .h1 {
  margin-bottom: 72px;
}

.record-form .form-site {
  -webkit-box-shadow: none;
  box-shadow: none;
}

.record-form .form-site--hor {
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}

.record-form .form-site .btn,
.record-form .form-site--hor input[type="text"],
.record-form .form-site--hor input[type="email"] {
  width: 280px;
}

.record-form .chosen-container {
  margin-right: 30px;
}

.record-form--last .form-site--hor {
  display: block;
}

.record-form--last .chosen-container {
  margin-right: 0;
}

.record-form--last .form-site--hor .form-site__fields {
  max-width: 900px;
  margin: 0 auto 60px;
}

.record-form h2,
.record-form .h2 {
  margin-top: 12px;
  margin-bottom: 37px;
}

.record-step {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  position: relative;
  margin-bottom: 40px;
}

.record-step::before {
  content: '';
  display: block;
  height: 2px;
  width: 100%;
  position: absolute;
  top: 50px;
  left: 0;
  right: 0;
  margin: 0 auto;
  background: url(../img/bg-line.png) repeat-x 0 center;
}

.record-step__item {
  background: #fff;
  position: relative;
}

.record-step__img-active,
.record-step__item.active .record-step__img,
.record-step__item.current .record-step__img {
  display: none;
}

.record-step__item.active .record-step__img-active,
.record-step__item.current .record-step__img-active {
  display: block;
}

.record-step__text {
  font-style: normal;
  font-weight: 500;
  font-size: 17px;
  line-height: 1.15;
  color: #a4a4a4;
  margin-top: 20px;
}

.record-step__item.current .record-step__text {
  color: #000;
}

.record-step__item.active .record-step__text {
  color: #eb6441;
}

.record-step__item:not(:last-child) {
  margin-right: 185px;
}

.write-us {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.write-us__item {
  padding: 5px 60px;
}

.write-us__link {
  display: block;
  text-decoration: none;
}

.write-us__icon {
  margin-right: 10px;
}

.write-us__label {
  font-style: normal;
  font-weight: 500;
  font-size: 15px;
  line-height: 1.15;
  color: #000;
}

.write-us__item:not(:last-child) {
  border-right: 1px solid #e4e4e4;
}

.record-result {
  display: none;
  font-style: normal;
  font-weight: normal;
  font-size: 19px;
  line-height: 1.45;
  color: #000;
  text-align: center;
  max-width: 500px;
  margin: 0 auto;
}

.record-result.active {
  display: block;
}

.record-result h1,
.record-result .h1 {
  margin-top: 45px;
  margin-bottom: 40px;
}

/*-------------- chosen -----------------*/
.chosen-container {
  min-width: 280px;
  text-align: left;
}

.chosen-search {
  display: none !important;
}

.chosen-container-single .chosen-single {
  display: block;
  -webkit-box-shadow: none;
  box-shadow: none;
  outline: 0;
  background: #fff;
  height: 50px;
  border: 1px solid #c4c4c4;
  border-radius: 25px;
  font-style: normal;
  font-weight: normal;
  font-size: 15px;
  line-height: 48px;
  color: #000;
  padding: 0 25px;
}

.chosen-container-single .chosen-single.chosen-default {
  color: #a4a4a4;
}

.chosen-container-single .chosen-single div {
  right: 20px;
}

.chosen-container-single .chosen-single div b {
  background: url(../img/sprite.png) no-repeat -5px -310px;
}

.chosen-container-active.chosen-with-drop .chosen-single div b {
  background-position: -5px -280px;
}

.chosen-container .chosen-results {
  margin: 0;
  padding: 0;
}

.chosen-container .chosen-results li {
  padding: 5px 20px;
}

.chosen-container .chosen-results li.highlighted {
  background: #eb6441;
  color: #fff;
}

.chosen-container-active.chosen-with-drop .chosen-single {
  border: 1px solid #c4c4c4;
  -webkit-box-shadow: none;
  box-shadow: none;
  background: #fff;
}

.chosen-container .chosen-drop {
  border-color: #c4c4c4;
  border-top: 0;
  -webkit-box-shadow: none;
  box-shadow: none;
  margin-top: -1px;
}
