/*----------- about-slider -------------*/
.about-slider-wrap{
	max-width: 350px;
	max-height: 480px;
	box-shadow: 0px 15px 30px rgba(0, 0, 0, 0.05);
	margin-left: 60px;
	margin-top: 78px;
	position: relative;
}

.about-slider{
	top: -60px;
	left: -60px;
	height: calc(100% + 60px);
	height: 540px;
	overflow: hidden;

	&.slick-initialized{
		height: auto;
		overflow: visible;
	}

	&__label{
		display: flex;
		height: 60px;
		width: 100%;
		align-items: center;
		@include font(italic, normal, 15px, 1.15, $color-text);
		padding: 20px 30px 20px 90px;
		overflow: hidden;
	}

	.slick-arrow{
		display: inline-block;
		width: 14px;
		height: 30px;
		outline: 0;
		border: 0;
		font-size: 0;
		padding: 0;
		margin: 0;
		background-image: url(#{$path-img}/sprite.png);
		background-repeat: no-repeat;
		background-color: transparent;
		position: absolute;
		right: -36px;
		cursor: pointer;
	}

	.slick-prev{
		top: 90px;
		background-position: -40px  -140px
	}

	.slick-next{
		top: 140px;
		background-position: -40px  -185px
	}

	.slick-prev:hover{
		background-position: -5px  -140px
	}

	.slick-next:hover{
		background-position: -5px  -185px
	}

	.slick-dots,
	.slick-dots li{
		padding: 0;
		margin: 0;
		list-style: none;
	}

	.slick-dots li::before{
		display: none;
	}

	.slick-dots{
		display: flex;
		flex-direction: column;
		position: absolute;
		right: -30px;
		bottom: 60px;
	}

	.slick-dots button{
		display: block;
		padding: 0;
		margin: 0;
		outline: 0;
		border: 0;
		font-size: 0;
		width: 2px;
		height: 30px;
		background: $color-grey;
		cursor: pointer;
	}

	.slick-dots button:hover,
	.slick-dots .slick-active button{
		background: #000;
		height: 40px;
	}

	.slick-dots li:not(:last-child) button{
		margin-bottom: 20px;
	}

	&.slick-vertical .slick-slide{
		border: 0;
		outline: 0;
	}

	.slick-slide img{
		height: 480px;
	}
}

@media (max-width: 767px) {
	.about-slider-wrap{
		margin: 0;
		box-shadow: none;
	}

	.about-text{
		margin-top: -15px;
	}

	.about-slider{
		position: static;
		margin-top: 15px;

		&__item{
			position: relative;
		}

		&__item::after{
			content: '';
			display: block;
			width: 100%;
			height: 65px;
			background: linear-gradient(180deg, rgba(0, 0, 0, 0) 0%, #000000 100%);
			position: absolute;
			bottom: 0;
			left: 0;
			right: 0;
			margin: 0 auto;
		}

		.slick-dots{
			padding: 0;
			margin: 0;
			list-style: none;
			display: flex;
			justify-content: center;
			align-items: center;
			flex-direction: row;
			position: absolute;
			bottom: 25px;
			left: 0;
			right: 0;
			margin: 0 auto;

			li{
				padding: 0;
				margin: 0;
				list-style: none;
			}

			li:before{
				display: none;
			}

			li:not(:last-child){
				margin-right: 20px;
			}

			li:not(:last-child) button{
				margin-bottom: 0;
			}

			button{
				display: inline-block;
				width: 8px;
				height: 8px;
				border-radius: 50%;
				background: $color-white;
				border: 0;
				outline: 0;
				font-size: 0;
				padding: 0;
				cursor: pointer;
			}

			button:hover,
			.slick-active button{
				width: 16px;
				height: 16px;
				border: 2px solid $color-white;
				background: transparent;
			}
		}

		.slick-slide img {
			height: auto;
		}
	}
}