/*----------- about -------------*/
.about-wrap{
	margin-top: 45px;
}

.about{
	background: url(#{$path-img}/bg-about.jpg) no-repeat center;
	padding: 82px 125px 90px;
	color: $color-white;

	&__head{
		@include font(normal, 500, 40px, 1.15, $color-white);
		text-align: center;
		margin-bottom: 60px;
	}

	&__list{
		display: flex;
	}

	&__item{
		display: flex;
		align-items: center;
	}

	&__item:not(:last-child){
		margin-right: 55px;
	}

	&__num{
		@include font(normal, 500, 80px, 1, $color-white);
		margin-right: 20px;
	}

	&__unit{
		font-size: 40px;
		font-weight: bold;
	}

	&__text{
		@include font(normal, 500, 15px, 1.45, $color-white);
	}
}

.about-text{
	margin-bottom: 75px;
}

@media (max-width: 1349px) {
	.about{
		padding-left: 30px;
		padding-right: 30px;
	}
}

@media (max-width: 991px) {
	.about{
		padding-left: 20px;
		padding-right: 20px;

		&__item:not(:last-child) {
			margin-right: 30px;
		}

		&__num{
			font-size: 60px;
		}
	}
}

@media (max-width: 767px) {
	.about-wrap {
		margin-top: 20px;
	}

	.about-text{
		margin-bottom: 60px;
	}

	.about{
		padding: 50px 15px 35px;
		margin-left: -15px;
		margin-right: -15px;

		&__item:not(:last-child) {
			margin-right: 0;
		}

		&__item{
			margin-bottom: 17px;
		}

		&__head{
			font-size: 24px;
			margin-bottom: 30px;
		}

		&__list{
			display: block;
		}

		&__num{
			font-size: 45px;
			width: 60px;
			min-width: 60px;
			margin-right: 15px;
		}

		&__unit{
			font-size: 21px;
		}
	}
}
