/*----------- advant -------------*/
.advant-wrap{
	margin-top: 85px;
	margin-bottom: 20px;

	h1,
	.h1{
		margin-bottom: 68px;
	}
}

.advant{
	&__item{
		display: flex;
		margin-bottom: 68px;
	}

	&__img{
		margin-right: 30px;
		padding-top: 3px;
	}

	&__cotent{
		width: calc(100% - 100px);
	}

	&__head{
		@include font(normal, 500, 19px, 1.15, $color-text);
		margin-bottom: 15px;
	}

	&__text{
		@include font(normal, normal, 15px, 1.75, $color-grey);
	}
}

@media (max-width: 767px) {
	.advant-wrap{
		margin-top: 52px;

		h1,
		.h1{
			margin-bottom: 30px;
		}
	}

	.advant{
		&__item{
			margin-bottom: 27px;
		}
		
		&__img{
			width: 60px;
			margin-right: 20px;
		}

		&__cotent{
			width: calc(100% - 80px);
		}

		&__head{
			font-size: 15px
		}

		&__text{
			font-size: 13px
		}
	}

}