/*----------- contact -------------*/
.contact-detail{
	margin-top: 18px;

	.advant-wrap {
		margin-top: 80px;
		margin-bottom: 8px;
	}

	.map-wrap {
		margin-top: 60px;
	}
}

.contact-info{
	margin-bottom: 97px;

	&__content{
		padding-left: 50px;
	}

	&__desc{
		@include font(normal, normal, 15px, 1.75, $color-text);
		margin-top: 16px;
	}
}

.contact-list{
	@include font(normal, normal, 15px, 1.15, $color-text);
	margin-top: -3px;

	&__item{
		position: relative;
		padding-left: 27px;
		margin-bottom: 18px;
	}

	&__item::before{
		content: '';
		display: block;
		width: 15px;
		height: 15px;
		position: absolute;
		top: 2px;
		left: 0;
	}

	&__item--map::before{
		background: url(#{$path-img}/ic-map.svg) no-repeat center;
		width: 17px;
		height: 17px;
	}

	&__item--phone::before{
		background: url(#{$path-img}/ic-phone.svg) no-repeat center;
	}

	&__item--mail::before{
		background: url(#{$path-img}/ic-mail.svg) no-repeat center;
	}

	&__item--time::before{
		background: url(#{$path-img}/ic-time-color.svg) no-repeat center;
	}
}

.contact-partner{
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	padding: 18px 30px;
	box-shadow: 0px 15px 30px rgba(0, 0, 0, 0.05);
	margin-top: 22px;

	&__label{
		@include font(normal, 500, 15px, 1.15, $color-text);
		margin-right: 30px;
	}

	&__item{
		max-height: 40px;
	}

	&__item:not(:last-child){
		margin-right: 30px;
	}
}

@media (max-width: 1349px) {
	.contact-info{
		&__content{
			padding-left: 0;
		}

		&__label{
			width: 100%;
			margin-right: 0;
			margin-bottom: 10px;
		}
	}
}

@media (max-width: 991px) {
	.contact-info{
		&__content{
			margin-top: 30px;
		}
	}
}

@media (max-width: 767px) {
	.contact-detail{
		margin-top: 0;

		&__content{
			margin-top: 33px;
		}

		.advant-wrap{
			margin-top: 50px;
		}

		.map-wrap{
			margin-top: 50px;
		}
	}

	.contact-list{
		line-height: 1.45;

		&__item{
			margin-bottom: 14px;
		}
	}

	.contact-partner{
		padding: 0;
		box-shadow: none;

		&__label{
			margin-right: 0;
			margin-bottom: 20px;
			display: block;
			width: 100%;
		}

		&__item{
			margin-bottom: 20px;
		}

		&__item:not(:last-child) {
			margin-right: 24px;
		}
	}

	.contact-info{
		margin-bottom: 53px;

		&__desc{
			font-size: 13px;
		}
	}
}