/*----------- form-site -------------*/
.form-site-popup{
	max-width: 360px;
}

.form-site{
	&__head{
		@include font(normal, 500, 19px, 1.15, $color-text);
		text-align: center;
		margin-bottom: 5px;
	}

	&__text{
		@include font(normal, normal, 15px, 1.45, $color-grey);
		text-align: center;
	}

	&__fields{
		margin-top: 25px;
	}

	input[type="text"],
	input[type="email"],
	textarea{
		height: 50px;
		width: 100%;
		outline: none;
		border: 1px solid #c4c4c4;
		border-radius: 25px;
		@include font(normal, normal, 15px, 1.15, $color-text);
		padding: 0 25px;
		margin-bottom: 20px;
	}

	textarea{
		height: 150px;
	}

	input[type="text"]::placeholder,
	input[type="email"]::placeholder,
	textarea::placeholder{
		color: $color-grey;
	}

	.btn{
		width: 100%;
	}

	&--hor{
		display: flex;
		align-items: center;
		justify-content: space-between;
		background: $color-white;
		box-shadow: 0px 15px 30px rgba(0, 0, 0, 0.05);
		padding: 35px;
	}

	&--hor &__text{
		@include font(normal, 500, 32px, 1.15, $color-text);
		text-align: left;
		width: calc(100% - 720px);
		padding-right: 40px;
	}

	&--hor &__text,
	&--hor &__fields,
	&--hor input[type="text"],
	&--hor input[type="email"],
	&--hor textarea{
		margin: 0;
	}

	&--hor input[type="text"],
	&--hor input[type="email"],
	&--hor textarea{
		margin-right: 30px;
		width: 220px;
	}

	&--hor &__fields{
		display: flex;
		align-items: center;
	}

	&--hor .btn{
		width: 220px;
	}

	input[type="submit"].btn{
		font-weight: 600;
	}

	input[type="text"].errorfield,
	input[type="email"].errorfield,
	textarea.errorfield,
	.chosen-single.errorfield{
		border-color:#ff0000;
		animation: errorfield 300ms 3 alternate;
		-webkit-animation: errorfield 300ms 3 alternate;
	}
}

@keyframes errorfield{
	from {border-color: #c4c4c4;}
	to {	border-color: #ff0000;}
}

.success-alert{
	max-width: 360px;

	&__text{
		@include font(normal, normal, 16px, 1.45, $color-text);
		text-align: center;
	}
}

@media (max-width: 1349px) {
	.form-site{
		&--hor{
			flex-wrap: wrap;
		}

		&--hor &__text{
			width: 100%;
			padding-right: 0;
			margin-bottom: 30px;
		}

		&--hor &__fields{
			width: calc(100% - 220px);
		}

		&--hor input[type="text"],
		&--hor input[type="email"],
		&--hor textarea{
			width: 100%;
		}
	}
}

@media (max-width: 991px) {
	.form-site{
		&--hor input[type="text"],
		&--hor input[type="email"],
		&--hor textarea{
			min-width: 100px;
		}
	}
}

@media (max-width: 767px) {
	.form-site{
		input[type="text"],
		input[type="email"],
		textarea{
			height: 45px;
			padding: 0 20px;
		}

		&--hor{
			display: block;
			padding: 30px 0 40px;
			box-shadow: none;
			position: relative;
		}

		&--hor::before,
		&--hor::after{
			content: '';
			display: block;
			height: 1px;
			background: #e4e4e4;
			position: absolute;
			left: 0;
			right: 0;
			margin: 0 -15px;
		}

		&--hor::before{
			top: 0;
		}

		&--hor::after{
			bottom: 0;
		}

		&--hor &__fields{
			width: 100%;
			display: block;
		}

		&--hor &__text{
			font-size: 21px;
			text-align: center;
			margin-bottom: 27px;
		}

		&--hor input[type="text"],
		&--hor input[type="email"],
		&--hor textarea{
			margin-bottom: 15px;
		}

		.btn{
			width: 100%;
		}
	}

	.top-slider + .form-site-wrap{
		margin-top: -36px;
	}

	.form-site-wrap:last-child{
		margin-bottom: -60px;
	}

	.form-site-wrap:last-child .form-site--hor::after{
		display: none;
	}
}
