/*----------- gallery -------------*/
.gallery-wrap{
	h1,
	.h1{
		margin-bottom: 72px;
	}

	.btn{
		display: table;
		min-width: 220px;
		margin: 0 auto;
		margin-top: 30px;
	}
}

.gallery{
	column-count: 3;
	column-gap: 30px;

	&__item{
		display: block;
		margin-bottom: 30px;
		text-decoration: none;
	}
}

@media (max-width: 767px) {
	.gallery-wrap{
		h1,
		.h1{
			margin-bottom: 37px;
		}

		.btn{
			margin-top: 20px;
		}
	}


	.gallery{
		column-count: 1;

		&__item{
			margin-bottom: 20px;
		}
	}
}