/*----------- map -------------*/
.map-wrap{
	margin-top: 85px;

	&--tab{
		margin-top: 18px;
		margin-bottom: 98px;
	}

	h1,
	.h1{
		margin-bottom: 70px;
	}
}

.map-content{
	position: relative;

	.tabs{
		position: absolute;
		top: 60px;
		left: 50%;
		transform: translateX(-50%);
		margin: 0 auto;
		z-index: 10;
	}
}

.map{
	width: 100%;
	height: 640px;
	position: relative;

	.ymaps-2-1-73-ground-pane{
		filter: grayscale(100%);
	}
}

.map-tabs{
	position: relative;

	.tabs{
		position: absolute;
		top: -115px;
		right: 15px;
	}
}

.map-info{
	margin-bottom: 80px;

	&__list{
		display: none;
	}

	&__list.active{
		display: block;
	}

	&__item{
		display: flex;
		align-items: center;
	}

	&__img{
		margin-right: 25px;
	}

	&__content{
		width: calc(100% - 95px);
	}

	&__head{
		@include font(normal, 500, 19px, 1.15, $color-text);
	}

	&__text,
	&__text a{
		@include font(normal, normal, 15px, 1.15, $color-grey);
		text-decoration: none;
	}

	&__text{
		margin-top: 5px;
	}

	&__text a:hover{
		color: $color-orange;
	}

	.btn{
		display: table;
		margin-left: auto;
		min-width: 240px;
	}
}

@media (max-width: 767px) {
	.map-wrap{
		margin-top: 60px;

		h1,
		.h1{
			margin-bottom: 30px;
		}
	}

	.map-content{
		.tabs{
			position: static;
			transform: none;
			margin-bottom: 30px;
		}
	}

	.map{
		height: 480px;
	}
}
