/*----------- pager -------------*/
.pager{
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	margin: 30px 0;

	&__item{
		display: inline-flex;
		align-items: center;
		justify-content: center;
		width: 40px;
		height: 40px;
		border-radius: 50%;
		@include font(normal, normal, 15px, 1, $color-text);
		text-align: center;
		text-decoration: none;
		background: transparent;
	}

	&__item:hover,
	&__item.active{
		background: $color-orange;
		color: $color-white;
	}

	&__item:not(:last-child){
		margin-right: 15px;
	}
}