/*----------- partner -------------*/
.partner-wrap{
	margin-top: 80px;

	h1,
	.h1{
		margin-bottom: 72px;
	}

	.partner{
		display: flex;
		flex-wrap: wrap;
		height: 90px;
		width: 100%;
		overflow: hidden;

		&__item{
			width: 14%;
		}

		&__item img{
			margin: 0 auto
		}

		&.slick-initialized{
			overflow: visible;
		}

		.slick-arrow{
			display: inline-block;
			width: 30px;
			height: 14px;
			outline: 0;
			border: 0;
			font-size: 0;
			padding: 0;
			margin: 0;
			background-image: url(#{$path-img}/sprite.png);
			background-repeat: no-repeat;
			background-color: transparent;
			position: absolute;
			top: -98px;
			cursor: pointer;
		}

		.slick-prev{
			right: 60px;
			background-position: -5px -110px
		}

		.slick-next{
			right: 0;
			background-position: -50px -110px
		}

		.slick-prev:hover{
			background-position: -5px -85px
		}

		.slick-next:hover{
			background-position: -50px -85px
		}
	}
}