/*----------- popular-services -------------*/
.popular-services-wrap{
	margin-top: 75px;

	h1,
	.h1{
		margin-bottom: 73px;
	}
}

.popular-services{
	&__item{
		display: flex;
		align-items: center;
		margin-bottom: 80px;
	}

	&__img{
		margin-right: 20px;
	}

	&__text{
		@include font(normal, 500, 17px, 1.15, $color-text);
		width: calc(100% - 90px);
	}
}

@media (max-width: 767px) {
	.popular-services-wrap{
		margin-top: 43px;

		h1,
		.h1{
			margin-bottom: 34px;
		}
	}

	.popular-services{
		&__item{
			margin-bottom: 35px;
		}
		
		&__img{
			width: 60px;
			margin-right: 20px;
		}

		&__text{
			font-size: 15px;
			width: calc(100% - 80px);
		}
	}
}