/*----------- repair-form -------------*/
.repair-form-wrap{
	padding: 158px 0 100px;
	margin-top: 85px;
	background: url(#{$path-img}/bg-repear-form.jpg) no-repeat center;
	-webkit-clip-path: url(#clipping);
	clip-path: url(#clipping);

	.h1-white{
		font-size: 40px;
		text-align: center;
		max-width: 945px;
		margin: 0 auto;
		margin-bottom: 70px;
	}

	.form-site--hor{
		background: transparent;
		box-shadow: none;
		padding: 0;
	}

	.form-site__fields{
		width: calc(100% - 300px);
	}

	.btn{
		width: 300px;
	}

	.form-site--hor input[type="text"],
	.form-site--hor input[type="mail"],
	.form-site--hor textarea{
		width: 100%;
		background: transparent;
		color: $color-white;
	}

	.form-site--hor input[type="text"]:focus,
	.form-site--hor input[type="mail"]:focus,
	.form-site--hor textarea:focus{
		background: $color-white;
		color: $color-text;
	}

	input[type="text"]::placeholder,
	input[type="mail"]::placeholder,
	textarea::placeholder{
		color: $color-white;
		opacity: 1;
	}
}

@media (max-width: 1349px) {
	.repair-form-wrap{
		.form-site__fields{
			 width: calc(100% - 220px);
		}

		.form-site--hor input[type="text"],
		.form-site--hor input[type="mail"],
		.form-site--hor textarea{
			min-width: 150px;
		}

		.btn{
			width: 220px;
		}
	}
}

@media (max-width: 991px) {
	.repair-form-wrap{
		.form-site__fields{
			 width: calc(100% - 180px);
		}

		.btn{
			width: 180px;
		}
	}
}

@media (max-width: 767px) {
	.repair-form-wrap{
		clip-path: none;
		margin-top: 60px;
		padding-top: 53px;
		padding-bottom: 60px;

		.h1-white{
			font-size: 24px;
			margin-bottom: 32px;
		}

		.form-site--hor::after,
		.form-site--hor::before{
			display: none;
		}

		.form-site__fields {
			width: 100%;
		}

		.btn{
			width: 100%;
		}
	}

	.repair-form-svg{
		display: none;
	}
}
