/*----------- repair-avto -------------*/
.repair-avto{
	margin-top: 100px;

	&__img{
		text-align: center;
	}

	&__text{
		@include font(normal, normal, 15px, 1.75, $color-text);
	}

	.btn{
		margin-top: 30px;
	}
}

.repair-avto-service{
	&__list,
	&__item{
		padding: 0;
		margin: 0;
		list-style: none;
	}

	li::before{
		display: none;
	}

	&__list{
		width: 100%;
		height: 265px;
	}

	&__item{
		padding: 10px 0;
		margin-bottom: 5px;
	}

	&__item,
	&__item a{
		@include font(normal, 500, 17px, 1.15, $color-text);
		text-decoration: none;
	}

	&__item a:hover{
		color: $color-orange;
	}

	&__more{
		display: inline-block;
		@include font(normal, normal, 17px, 1.15, $color-grey);
		text-decoration: none;
		border-bottom: 1px dotted $color-grey;
		margin-top: 10px;
	}

	&__more:hover{
		border-bottom: 0;
		color: $color-orange;
	}
}

.repair-avto-service__list::-webkit-scrollbar {
	width: 1px;
	background-color: #e4e4e4;
}

.repair-avto-service__list::-webkit-scrollbar-thumb {
	background-color: $color-orange
}