/*----------- services -------------*/
.services-wrap{
	margin-top: 85px;

	h1,
	.h1{
		margin-bottom: 30px;
	}
}

.services{
	&__item{
		display: block;
		text-decoration: none;
		padding: 30px;
		margin-bottom: 25px;
	}

	&__head{
		@include font(normal, 500, 19px, 1.15, $color-text);
		margin-top: 20px;
	}

	&__text{
		@include font(normal, normal, 15px, 1.75, $color-grey);
		margin-top: 15px;
	}

	&__more{
		display: inline-block;
		font-size: 0;
		margin-top: 10px;
		position: relative;
		padding-right: 30px;
		min-height: 14px;
		min-width: 30px;
	}
	
	&__more::after{
		content: '';
		display: block;
		width: 30px;
		height: 14px;
		background: url(#{$path-img}/sprite.png) no-repeat -50px  -85px;
		position: absolute;
		@include top-center;
		right: 0;
	}

	&__item:hover{
		box-shadow: 0px 15px 30px rgba(0, 0, 0, 0.05);
	}

	&__item:hover &__head{
		color: $color-light-orange;
	}

	&__item:hover &__more{
		padding-right: 45px;
		@include font(normal, 500, 15px, 1, $color-light-orange);
	}
}

.services-page{
	.partner-wrap{
		margin-top: 28px;
		margin-bottom: 95px;
	}

	.map-wrap{
		margin-top: 5px;
	}

	.repair-form-wrap{
		margin-top: 5px;
	}
}

.services-detail{
	.popular-services-wrap{
		margin-top: 83px;
		margin-bottom: 15px;
	}

	.special-offer-wrap {
		margin-top: 85px;
	}

	.map-wrap {
		margin-top: 75px;
	}

	.advant-wrap{
		margin-bottom: 25px;
	}
}

@media (max-width: 767px) {
	.services-wrap{
		margin-top: 50px;

		h1,
		.h1{
			margin-bottom: 35px;
		}
	}

	.services{
		&__item{
			display: flex;
			align-items: center;
			padding: 0;
			margin-bottom: 40px;
		}

		&__img{
			width: 60px;
			margin-right: 20px;
		}

		&__head{
			width: calc(100% - 80px);
			font-size: 15px;
			margin-top: 0;
		}

		&__item:hover{
			box-shadow: none;
		}
	}

	.services-page{
		.partner-wrap{
			margin-top: 8px;
			margin-bottom: 70px;
		}

		.map-wrap {
			margin-top: 15px;
		}

		.repair-form-wrap {
			margin-top: 35px;
		}
	}
}