/*----------- special-offer -------------*/
.special-offer-wrap{
	margin-top: -15px;

	h1,
	.h1{
		margin-bottom: 60px;
	}
}

.special-offer{
	&__item{
		display: block;
		width: 100%;
		height: 405px;
		background-repeat: no-repeat;
		background-position: center;
		background-size: cover;
		position: relative;
		text-decoration: none;
		margin-bottom: 30px;
	}

	&__text{
		@include font(normal, 500, 21px, 1.45, $color-white);
		padding: 32px 40px;
		position: absolute;
		bottom: 0;
		left: 0;
		right: 0;
		margin: 0 auto;
		width: 100%;
		background: linear-gradient(180deg, rgba(0, 0, 0, 0) 0%, #000000 100%);
	}
}

@media (max-width: 767px) {
	.special-offer-wrap{
		margin-top: -8px;

		h1,
		.h1{
			margin-bottom: 35px;
		}
	}

	.special-offer{
		margin-bottom: -10px;
		
		&__item{
			height: 190px;
			margin-bottom: 20px;
		}

		&__text{
			padding: 17px 20px;
			font-size: 15px;
			line-height: 1.15;
		}
	}
}