/*----------- tabs -------------*/
.tabs{
	display: flex;
	border-radius: 25px;

	&--border{
		border: 1px solid #e4e4e4;
	}

	&__item{
		height: 50px;
		padding: 0 30px;
		@include font(normal, 500, 15px, 48px, $color-text);
		text-decoration: none;
		background: $color-white;
		white-space: nowrap;
		cursor: pointer;
	}

	&__item:first-child{
		border-top-left-radius: 25px;
		border-bottom-left-radius: 25px;
	}

	&__item:last-child{
		border-top-right-radius: 25px;
		border-bottom-right-radius: 25px;
	}

	&__item:not(:last-child){
		border-right: 1px solid #e4e4e4;
	}

	&__item.active{
		background: $color-orange;
		color: $color-white;
		border-color: $color-orange;
	}

	&__item:hover{
		color: $color-orange;
	}

	&__item.active:hover{
		color: $color-white;
	}
}

@media (max-width: 767px) {
	.tabs{
		position: static;
		display: block;
		transform: none;
		border-radius: 25px;
		border: 1px solid #e4e4e4;
		overflow: hidden;

		&__item:first-child,
		&__item:last-child{
			border-radius: 0;
		}
	}
}