//Path
$path-img: "../img";
$path-fonts: "../fonts";

//Font
$font-site: 'Gotham Pro', Arial, sans-serif;

// Site
$color-text: #000;
$color-orange: #eb6441;
$color-dark-orange: #ea542d;
$color-light-orange: #eb5b36;
$color-green: #a4b842;
$color-grey: #a4a4a4;
$color-white: #fff;
