<!doctype html>
<html lang="ru">
	<head>
	//= ../header/header-meta.html
		<title>Контакты</title>
	//= ../header/header-link.html
	</head>
	<body class="js-body">
		<div class="wrapper">
			//= ../header/header.html
			<main>
				<div class="container">
					<div class="row">
						<div class="col-12">
							<div class="bredcrumb">
								<a href="/" class="bredcrumb__item"><img src="img/ic-home.svg" alt=""></a>
								<span class="bredcrumb__item">Контакты</span>
							</div>

							<h1>Контакты</h1>
						</div>
					</div>
				</div>

				<section class="map-wrap map-wrap--tab">

					<div class="container map-tabs">
						<div class="row">
							<div class="col-12">
								<div class="tabs tabs--border">
									<div class="tabs__item js-tabs-item active" data-coordx="55.806013" data-coordy="37.597379" data-tab="1">ул. Добролюбова, 2Б</div>
									<div class="tabs__item js-tabs-item" data-coordx="55.690977" data-coordy="37.478225" data-tab="2">ул. Лобачевского, 114</div>
									<div class="tabs__item js-tabs-item" data-coordx="55.613169" data-coordy="37.514170" data-tab="3">Новоясеневский пр-т, 6</div>
								</div>
							</div>
						</div>
					</div>

					<div class="map-info">
						<div class="map-info__list js-map-info-list active" data-tab="1">
							<div class="container">
								<div class="row align-items-center">
									<div class="col-3">
										<div class="map-info__item">
											<img src="img/contact-phone.svg" alt="" class="map-info__img">
											<div class="map-info__content">
												<div class="map-info__head">Телефон:</div>
												<div class="map-info__text"><a href="tel:+74957857722">8 495 785 77 22</a></div>
											</div>
										</div>
									</div>

									<div class="col-3">
										<div class="map-info__item">
											<img src="img/contact-mail.svg" alt="" class="map-info__img">
											<div class="map-info__content">
												<div class="map-info__head">E-mail:</div>
												<div class="map-info__text"><a href="mailto:info@genser.ru">info@genser.ru</a></div>
											</div>
										</div>
									</div>

									<div class="col-3">
										<div class="map-info__item">
											<img src="img/contact-address.svg" alt="" class="map-info__img">
											<div class="map-info__content">
												<div class="map-info__head">Адрес:</div>
												<div class="map-info__text">ул. Добролюбова, 2Б, м. Бутырская</div>
											</div>
										</div>
									</div>

									<div class="col-3">
										<a href="#" class="btn">Подробнее о сервисе</a>
									</div>
								</div>
							</div>
						</div>

						<div class="map-info__list js-map-info-list" data-tab="2">
							<div class="container">
								<div class="row align-items-center">
									<div class="col-3">
										<div class="map-info__item">
											<img src="img/contact-phone.svg" alt="" class="map-info__img">
											<div class="map-info__content">
												<div class="map-info__head">Телефон:</div>
												<div class="map-info__text"><a href="tel:+74957857722">8 495 785 77 22</a></div>
											</div>
										</div>
									</div>

									<div class="col-3">
										<div class="map-info__item">
											<img src="img/contact-mail.svg" alt="" class="map-info__img">
											<div class="map-info__content">
												<div class="map-info__head">E-mail:</div>
												<div class="map-info__text"><a href="mailto:info@genser.ru">info@genser.ru</a></div>
											</div>
										</div>
									</div>

									<div class="col-3">
										<div class="map-info__item">
											<img src="img/contact-address.svg" alt="" class="map-info__img">
											<div class="map-info__content">
												<div class="map-info__head">Адрес:</div>
												<div class="map-info__text">ул. Лобачевского, 114, м. Мичуринский пр-т</div>
											</div>
										</div>
									</div>

									<div class="col-3">
										<a href="#" class="btn">Подробнее о сервисе</a>
									</div>
								</div>
							</div>
						</div>

						<div class="map-info__list js-map-info-list" data-tab="3">
							<div class="container">
								<div class="row align-items-center">
									<div class="col-3">
										<div class="map-info__item">
											<img src="img/contact-phone.svg" alt="" class="map-info__img">
											<div class="map-info__content">
												<div class="map-info__head">Телефон:</div>
												<div class="map-info__text"><a href="tel:+74957857722">8 495 785 77 22</a></div>
											</div>
										</div>
									</div>

									<div class="col-3">
										<div class="map-info__item">
											<img src="img/contact-mail.svg" alt="" class="map-info__img">
											<div class="map-info__content">
												<div class="map-info__head">E-mail:</div>
												<div class="map-info__text"><a href="mailto:info@genser.ru">info@genser.ru</a></div>
											</div>
										</div>
									</div>

									<div class="col-3">
										<div class="map-info__item">
											<img src="img/contact-address.svg" alt="" class="map-info__img">
											<div class="map-info__content">
												<div class="map-info__head">Адрес:</div>
												<div class="map-info__text">Новоясеневский пр-т, 6, м. Тёплый стан</div>
											</div>
										</div>
									</div>

									<div class="col-3">
										<a href="#" class="btn">Подробнее о сервисе</a>
									</div>
								</div>
							</div>
						</div>
					</div>

					<div class="container">
						<div class="row">
							<div class="col-12">

								<div id="map" class="map"></div>

								<script src="http://api-maps.yandex.ru/2.1/?lang=ru_RU" type="text/javascript"></script>
							</div>
						</div>
					</div>
				</section>

				<section>
					<div class="container">
						<div class="row">
							<div class="col-12">
								<form method="get" class="form-site form-site--hor js-valid-form">
									<div class="form-site__text">Сделайте <span class="h-text-orange">2 шага</span> и мы назовем Вам стоимость и&nbsp;время проведения работ</div>

									<div class="form-site__fields">
										<input type="text" placeholder="Марка" required="required">
										<input type="text" placeholder="Модель" required="required">
									</div>

									<input type="submit" value="Оставить заявку" class="btn">
								</form>
							</div>
						</div>
					</div>
				</section>

				<section class="repair-form-wrap no-indent">
					<svg height="0" width="0">
						<defs>
							<clipPath id="clipping" clipPathUnits="objectBoundingBox" transform="scale(0.0005263 0.0010101)">
								<polygon fill="#FFFFFF" stroke="#000000" stroke-miterlimit="10" points="1919.8,1600 0,1600 0,0 1919.8,99 "/>
							</clipPath>
						</defs>
					</svg>

					<div class="container">
						<div class="row">
							<div class="col-12">
								<div class="h1-white">Мы подберем запасные части или расходные материалы для вашего авто</div>

								<form method="get" class="form-site form-site--hor js-valid-form">
									<div class="form-site__fields">
										<input type="text" placeholder="VIN Номер авто" required="required">
										<input type="text" placeholder="Название детали" required="required">
										<input type="text" placeholder="Номер телефона" required="required" class="js-phone">
									</div>

									<input type="submit" value="Оставить заявку" class="btn">
								</form>
							</div>
						</div>
					</div>
				</section>
			</main>
			//= ../footer/footer.html
		</div>

		//= ../footer/footer-script.html
	</body>
</html>
