<!doctype html>
<html lang="ru">
	<head>
	//= ../header/header-meta.html
		<title>Вопросы и ответы</title>
	//= ../header/header-link.html
	</head>
	<body>
		<div class="wrapper">
			//= ../header/header.html
			<main>
				<div class="container">
					<div class="row">
						<div class="col-12">
							<div class="bredcrumb">
								<a href="/" class="bredcrumb__item"><img src="img/ic-home.svg" alt=""></a>
								<span class="bredcrumb__item">Вопросы и ответы</span>
							</div>

							<h1>Вопросы и ответы</h1>
						</div>
					</div>
				</div>

				<div class="faq">
						<section>
							<div class="container">
								<div class="row">
									<div class="col-12">
										<div class="h2">Подраздел ответов №1</div>
									</div>
								</div>
							</div>
							<div class="container">

								<div class="row">
									<div class="col-6">
										<div class="question">
											<div class="question__head">Почему я должен выбрать Genser?</div>
											<div class="question__text">
												Максимально экономим время, средний срок ремонта у нас - всего 2 часа. С помощью сайта вы легко забронируйте онлайн время обслуживания. За счет того, что мы не раздуваем штат сотрудников и не строим дворцы для обслуживания авто, стоимость нормо-часа - всего 700 руб. Полная прозрачность дает вам доверие: вы видите механиков, сертификации и многое другое. Перед любым ремонтом вы получите точную стоимость, которая не вырастет по непонятной причине в конце.
											</div>
										</div>

										<div class="question">
											<div class="question__head">Как я могу узнать стоимость обслуживания?</div>
											<div class="question__text">
												Запросите оценку онлайн, указав свой автомобиль и вид работ. В большинстве случаев, мы дадим цену мгновенно. Не будет никаких сюрпризов или скрытых расходов. Если мгновенная цена не доступна, мы вышлем стоимость в течение 24 часов или, как правило, раньше.
											</div>
										</div>
									</div>

									<div class="col-6">
										<div class="question">
											<div class="question__head">Как Вы работаете?</div>
											<div class="question__text">
												Просто сделайте запрос, укажите данные на авто и услуги, которые необходимо выполнить. В большинстве случаев мы дадим точную стоимость работы + запчасти в момент обращения. Можно записаться на прием, выбрав удобное время - мы работаем 7 дней в неделю, с 9 утра до 19 вечера.Ваш персональный механик выполнит работу, а вы сможете контролировать процесс ремонта на любой стадии. Мы выставляем счета только после окончания ремонта. Вы получаете подробную распечатку с выполненными работами и установленными запчастями.
											</div>
										</div>

										<div class="question">
											<div class="question__head">Как рассчитывается цена?</div>
											<div class="question__text">
												Согласно регламентам по обслуживанию авто, каждый вид работ должен выполняться определенное количество времени. Эти нормы прописаны заводом изготовителем. Исходя из них формируется стоимость ремонта из расчета 700 руб за 1 нормо/час.
											</div>
										</div>
									</div>
								</div>
							</div>
						</section>

						<section>
							<div class="container">
								<div class="row">
									<div class="col-12">
										<div class="h2">Подраздел ответов №2</div>
									</div>
								</div>
							</div>

							<div class="container">
								<div class="row">
									<div class="col-6">
										<div class="question">
											<div class="question__head">Почему у вас дешевле чем у дилеров?</div>
											<div class="question__text">
												В Genser нет накладных расходов, как у дилеров: мы не строим дворцы для обслуживания, не раздуваем штат из не нужных сотрудников, не выплачиваем громадные отчисления за дилерство. Мы предлагаем экономию как минимум от 30% по сравнению с дилерами. Чем больше услуг, тем больше клиенты экономят. И, конечно, всегда получают фиксированную цену прежде, чем заказывать услугу.
											</div>
										</div>

										<div class="question">
											<div class="question__head">Как я могу записаться на прием?</div>
											<div class="question__text">
												Онлайн, указав марку авто и вид услуг. В большинстве случаев, мы дадим цену мгновенно. Вы увидите разбивку расходов на оплату труда и части стоимости. 
											</div>
										</div>
									</div>

									<div class="col-6">
										<div class="question">
											<div class="question__head">Я не знаю, что случилось с моим авто. Что мне делать?</div>
											<div class="question__text">
												Запишитесь на сервис через сайт и в заявке укажите симптомы, которые присутствуют на вашем автомобиле, или просто позвоните +7 (831) 280-99-08. Мастер консультант сразу проконсультирует и предложит варианты ремонта и стоимость.
											</div>
										</div>

										<div class="question">
											<div class="question__head">Как я могу перенести ремонт?</div>
											<div class="question__text">
												Для переноса ​​ремонта позвоните по телефону +7 (831) 280-99-08
											</div>
										</div>
									</div>
								</div>
							</div>
						</section>

				</div>

				<section>
					<div class="container">
						<div class="row">
							<div class="col-12">
								<form method="get" class="form-site form-site--hor js-valid-form">
									<div class="form-site__text">Остались вопросы? Оставьте заявку и наш менеджер свяжется с вами</div>

									<div class="form-site__fields">
										<input type="text" placeholder="Имя" required="required">
										<input type="text" placeholder="Телефон" required="required" class="js-phone">
									</div>

									<input type="submit" value="Оставить заявку" class="btn">
								</form>
							</div>
						</div>
					</div>
				</section>

			</main>
			//= ../footer/footer.html
		</div>

		//= ../footer/footer-script.html
	</body>
</html>
