<!doctype html>
<html lang="ru">
	<head>
	//= ../header/header-meta.html
		<title>Вопросы и ответы</title>
	//= ../header/header-link.html
	</head>
	<body class="js-body">
		<div class="wrapper">
			//= ../header/header.html
			<main>
				<div class="container">
					<div class="row">
						<div class="col-12">
							<div class="bredcrumb">
								<a href="/" class="bredcrumb__item"><img src="img/ic-home.svg" alt=""></a>
								<span class="bredcrumb__item">Вопросы и ответы</span>
							</div>

							<h1>Вопросы и ответы</h1>
						</div>
					</div>
				</div>

				<div class="faq">
					<div class="faq__item">
						<section>
							<div class="container">
								<div class="row">
									<div class="col-12">
										<div class="h2">Подраздел ответов №1</div>
									</div>
								</div>
							</div>
							<div class="container">

								<div class="row">
									<div class="col-6">
										<div class="unwrap-block js-unwrap-block">
											<div class="unwrap-block__head js-unwrap-head">Почему я должен выбрать Genser?</div>
											<div class="unwrap-block__content js-unwrap-content">
												Максимально экономим время, средний срок ремонта у нас - всего 2 часа. С помощью сайта вы легко забронируйте онлайн время обслуживания. За счет того, что мы не раздуваем штат сотрудников и не строим дворцы для обслуживания авто, стоимость нормо-часа - всего 700 руб. Полная прозрачность дает вам доверие: вы видите механиков, сертификации и многое другое. Перед любым ремонтом вы получите точную стоимость, которая не вырастет по непонятной причине в конце.
											</div>
										</div>

										<div class="unwrap-block js-unwrap-block">
											<div class="unwrap-block__head js-unwrap-head">Как я могу узнать стоимость обслуживания?</div>
											<div class="unwrap-block__content js-unwrap-content">
												Максимально экономим время, средний срок ремонта у нас - всего 2 часа. С помощью сайта вы легко забронируйте онлайн время обслуживания.
											</div>
										</div>

										<div class="unwrap-block js-unwrap-block">
											<div class="unwrap-block__head js-unwrap-head">Почему у вас дешевле чем у дилеров?</div>
											<div class="unwrap-block__content js-unwrap-content">
												Максимально экономим время, средний срок ремонта у нас - всего 2 часа. С помощью сайта вы легко забронируйте онлайн время обслуживания. За счет того, что мы не раздуваем штат сотрудников и не строим дворцы для обслуживания авто, стоимость нормо-часа - всего 700 руб.
											</div>
										</div>
									</div>

									<div class="col-6">
										<div class="unwrap-block js-unwrap-block">
											<div class="unwrap-block__head js-unwrap-head">Как Вы работаете?</div>
											<div class="unwrap-block__content js-unwrap-content">
												Максимально экономим время, средний срок ремонта у нас - всего 2 часа. С помощью сайта вы легко забронируйте онлайн время обслуживания. За счет того, что мы не раздуваем штат сотрудников и не строим дворцы для обслуживания авто, стоимость нормо-часа - всего 700 руб. Полная прозрачность дает вам доверие: вы видите механиков, сертификации и многое другое. Перед любым ремонтом вы получите точную стоимость, которая не вырастет по непонятной причине в конце.
											</div>
										</div>

										<div class="unwrap-block js-unwrap-block">
											<div class="unwrap-block__head js-unwrap-head">Как рассчитывается цена?</div>
											<div class="unwrap-block__content js-unwrap-content">
												Максимально экономим время, средний срок ремонта у нас - всего 2 часа. С помощью сайта вы легко забронируйте онлайн время обслуживания. За счет того, что мы не раздуваем штат сотрудников и не строим дворцы для обслуживания авто, стоимость нормо-часа - всего 700 руб.
											</div>
										</div>

										<div class="unwrap-block js-unwrap-block">
											<div class="unwrap-block__head js-unwrap-head">Всегда ли цена является показателем качества?</div>
											<div class="unwrap-block__content js-unwrap-content">
												Максимально экономим время, средний срок ремонта у нас - всего 2 часа. С помощью сайта вы легко забронируйте онлайн время обслуживания. За счет того, что мы не раздуваем штат сотрудников и не строим дворцы для обслуживания авто, стоимость нормо-часа - всего 700 руб.Максимально экономим время, средний срок ремонта у нас - всего 2 часа. С помощью сайта вы легко забронируйте онлайн время обслуживания.
											</div>
										</div>
									</div>
								</div>
							</div>
						</section>
					</div>

					<div class="faq__item">
						<section>
							<div class="container">
								<div class="row">
									<div class="col-12">
										<div class="h2">Подраздел ответов №2</div>
									</div>
								</div>
							</div>

							<div class="container">
								<div class="row">
									<div class="col-6">
										<div class="unwrap-block js-unwrap-block">
											<div class="unwrap-block__head js-unwrap-head">Можно ли восстановить любые повреждения?</div>
											<div class="unwrap-block__content js-unwrap-content">
												Максимально экономим время, средний срок ремонта у нас - всего 2 часа. С помощью сайта вы легко забронируйте онлайн время обслуживания. За счет того, что мы не раздуваем штат сотрудников и не строим дворцы для обслуживания авто, стоимость нормо-часа - всего 700 руб. Полная прозрачность дает вам доверие: вы видите механиков, сертификации и многое другое. Перед любым ремонтом вы получите точную стоимость, которая не вырастет по непонятной причине в конце.
											</div>
										</div>

										<div class="unwrap-block js-unwrap-block">
											<div class="unwrap-block__head js-unwrap-head">Как я могу записаться на прием?</div>
											<div class="unwrap-block__content js-unwrap-content">
												Запросите оценку онлайн, указав свой автомобиль и вид работ. В большинстве случаев, мы дадим цену мгновенно. Не будет никаких сюрпризов или скрытых расходов. Если мгновенная цена не доступна, мы вышлем стоимость в течение 24 часов или, как правило, раньше.
											</div>
										</div>
									</div>

									<div class="col-6">
										<div class="unwrap-block js-unwrap-block">
											<div class="unwrap-block__head js-unwrap-head">Как я могу перенести ремонт?</div>
											<div class="unwrap-block__content js-unwrap-content">
												Максимально экономим время, средний срок ремонта у нас - всего 2 часа. С помощью сайта вы легко забронируйте онлайн время обслуживания. За счет того, что мы не раздуваем штат сотрудников и не строим дворцы для обслуживания авто, стоимость нормо-часа - всего 700 руб. Полная прозрачность дает вам доверие: вы видите механиков, сертификации и многое другое. Перед любым ремонтом вы получите точную стоимость, которая не вырастет по непонятной причине в конце.
											</div>
										</div>
									</div>
								</div>
							</div>
						</section>
					</div>
				</div>

				<section>
					<div class="container">
						<div class="row">
							<div class="col-12">
								<form method="get" class="form-site form-site--hor js-valid-form">
									<div class="form-site__text">Остались вопросы? Оставьте заявку и наш менеджер свяжется с вами</div>

									<div class="form-site__fields">
										<input type="text" placeholder="Имя" required="required">
										<input type="text" placeholder="Телефон" required="required" class="js-phone">
									</div>

									<input type="submit" value="Оставить заявку" class="btn">
								</form>
							</div>
						</div>
					</div>
				</section>

			</main>
			//= ../footer/footer.html
		</div>

		//= ../footer/footer-script.html
	</body>
</html>
