<!doctype html>
<html lang="ru">
	<head>
	//= ../header/header-meta.html
		<title>Главная страница</title>
	//= ../header/header-link.html
	</head>
	<body>
		<div class="wrapper">
			//= ../header/header.html
			<main>
				<section class="top-slider">
					<div class="top-slider__list js-top-slider">
						<div class="top-slider__item" style="background-image: url(img/slider-top.jpg);">
							<div class="container">
			  					<div class="row">
			  						<div class="col-6">
			  							<div class="top-slider__content">
			  								<div class="top-slider__label">Давайте знакомиться</div>
			  								<div class="top-slider__head">Скидка до 20% на первое обслуживание вашего автомобиля</div>
			  								<a href="#" class="btn btn--white">Узнать подробнее</a>
			  							</div>
			  						</div>
			  					</div>
			  				</div>
						</div>

						<div class="top-slider__item" style="background-image: url(img/slider-top.jpg);">
							<div class="container">
			  					<div class="row">
			  						<div class="col-6">
			  							<div class="top-slider__content">
			  								<div class="top-slider__label">Давайте знакомиться</div>
			  								<div class="top-slider__head">Скидка до 15%</div>
			  								<a href="#" class="btn btn--white">Узнать подробнее</a>
			  							</div>
			  						</div>
			  					</div>
			  				</div>
						</div>

						<div class="top-slider__item" style="background-image: url(img/slider-top.jpg);">
							<div class="container">
			  					<div class="row">
			  						<div class="col-6">
			  							<div class="top-slider__content">
			  								<div class="top-slider__label">Давайте знакомиться</div>
			  								<div class="top-slider__head">Скидка до 50% на первое обслуживание вашего автомобиля</div>
			  								<a href="#" class="btn btn--white">Узнать подробнее</a>
			  							</div>
			  						</div>
			  					</div>
			  				</div>
						</div>

						<div class="top-slider__item" style="background-image: url(img/slider-top.jpg);">
							<div class="container">
			  					<div class="row">
			  						<div class="col-6">
			  							<div class="top-slider__content">
			  								<div class="top-slider__label">Давайте знакомиться</div>
			  								<div class="top-slider__head">Скидка до 25% на обслуживание автомобиля</div>
			  								<a href="#" class="btn btn--white">Узнать подробнее</a>
			  							</div>
			  						</div>
			  					</div>
			  				</div>
						</div>
					</div>

					<div class="container">
	  					<div class="row">
	  						<div class="col-12">
	  							<div class="top-slider__counter-wrap">
	  								<div class="js-top-slider-arrow"></div>
									<div class="top-slider__counter js-top-slider-counter"></div>
								</div>
							</div>
						</div>
					</div>
				</section>

				<section>
					<div class="container">
	  					<div class="row">
	  						<div class="col-12">
								<form method="get" class="form-site form-site--hor js-valid-form">
									<div class="form-site__text">Сделайте <span class="h-text-orange">2 шага</span> и мы назовем Вам стоимость и&nbsp;время проведения работ</div>

									<div class="form-site__fields">
										<input type="text" placeholder="Марка" required="required">
										<input type="text" placeholder="Модель" required="required">
									</div>

									<input type="submit" value="Оставить заявку" class="btn">
								</form>
							</div>
						</div>
					</div>
				</section>

				<section class="services-wrap">
					<div class="container">
	  					<div class="row">
	  						<div class="col-12">
								<div class="h1">Услуги автосервиса</div>
							</div>
						</div>
					</div>

					<div class="services">
						<div class="container">
		  					<div class="row">
		  						<div class="col-4">
		  							<a href="#" class="services__item">
		  								<div class="services__img"><img src="img/ic-main-service.svg" alt=""></div>

		  								<div class="services__head">Техническое обслуживание</div>

		  								<div class="services__text">Любую неисправность авто лучше и проще предупредить заранее, чем тратить время и силы на ремонт железного коня.</div>

		  								<div class="services__more">Подробнее</div>
		  							</a>
			  					</div>

			  					<div class="col-4">
		  							<a href="#" class="services__item">
		  								<div class="services__img"><img src="img/ic-repair.svg" alt=""></div>

		  								<div class="services__head">Слесарный ремонт</div>

		  								<div class="services__text">Поддержим ваш автомобиль в прекрасном состоянии и отличной рабочей форме. Пусть он смело покоряет любые дороги!</div>

		  								<div class="services__more">Подробнее</div>
		  							</a>
			  					</div>

			  					<div class="col-4">
		  							<a href="#" class="services__item">
		  								<div class="services__img"><img src="img/ic-diagnostics.svg" alt=""></div>

		  								<div class="services__head">Диагностика</div>

		  								<div class="services__text">Своевременная диагностика позволяет избежать серьезных поломок и предотвратить выход авто из строя.</div>

		  								<div class="services__more">Подробнее</div>
		  							</a>
			  					</div>

			  					<div class="col-4">
		  							<a href="#" class="services__item">
		  								<div class="services__img"><img src="img/ic-balance.svg" alt=""></div>

		  								<div class="services__head">Шиномонтаж/Балансировка</div>

		  								<div class="services__text">Переобуем ваш автомобиль, чтобы он слушался вас и на ледяной зимней, и на мокрой осенней, и на сухой летней дороге.</div>

		  								<div class="services__more">Подробнее</div>
		  							</a>
			  					</div>

			  					<div class="col-4">
		  							<a href="#" class="services__item">
		  								<div class="services__img"><img src="img/ic-consult.svg" alt=""></div>

		  								<div class="services__head">Консультация специалиста</div>

		  								<div class="services__text">Наши специалисты с радостью проконсультируют вас по любому вопросу, связанному с ремонтом вашего авто.</div>

		  								<div class="services__more">Подробнее</div>
		  							</a>
			  					</div>

			  					<div class="col-4">
		  							<a href="#" class="services__item">
		  								<div class="services__img"><img src="img/ic-spare-parts.svg" alt=""></div>

		  								<div class="services__head">Запчасти</div>

		  								<div class="services__text">Мы подбираем автозапчасти для иномарок и российских авто и помогаем ставить автомобиль на колеса в сжатые сроки.</div>

		  								<div class="services__more">Подробнее</div>
		  							</a>
			  					</div>
							</div>
						</div>
					</div>
				</section>

				<section class="about-wrap">
					<div class="container">
	  					<div class="row">
	  						<div class="col-12">
								<div class="about js-about">
									<div class="about__head">О нас в цифрах</div>

									<div class="about__list">
										<div class="about__item">
											<div class="about__num js-about-num" data-count="28"></div>
											<div class="about__text">лет на рынке технического обслуживания авто</div>
										</div>

										<div class="about__item">
											<div class="about__num js-about-num" data-count="54"></div>
											<div class="about__text">сделано технических обслуживаний автомобилей</div>
										</div>

										<div class="about__item">
											<div class="about__num" ><span class="js-about-num" data-count="19"></span><span class="about__unit">т</span></div>
											<div class="about__text">выполнено ремонтов автомобилей</div>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</section>
			</main>
			//= ../footer/footer.html
		</div>

		//= ../footer/footer-script.html
	</body>
</html>
