<!doctype html>
<html lang="ru">
	<head>
	//= ../header/header-meta.html
		<title>Новости</title>
	//= ../header/header-link.html
	</head>
	<body class="js-body">
		<div class="wrapper">
			//= ../header/header.html
			<main>
				<div class="container">
					<div class="row">
						<div class="col-12">
							<div class="bredcrumb">
								<a href="/" class="bredcrumb__item"><img src="img/ic-home.svg" alt=""></a>
								<span class="bredcrumb__item">Новости</span>
							</div>

							<h1>Новости</h1>
						</div>
					</div>
				</div>

				<section class="news-list">
					<div class="container">
						<div class="row">
							<div class="col-6">
								<article class="news-list__item news-list__item--big" style="background-image: url(img/news1.jpg);">
									<div class="news-list__content">
										<time class="news-list__date">08.04.2019</time>
										<a href="#" class="news-list__head">Что обозначают отметки на шине и зачем они нужны? Отвечает изготовитель</a>
									</div>
								</article>
							</div>

							<div class="col-6">
								<article class="news-list__item">
									<time class="news-list__date">29.03.2019</time>
									<a href="#" class="news-list__head">Салонный фильтр. Для чего нужен и какой выбрать</a>
								</article>

								<article class="news-list__item">
									<time class="news-list__date">23.03.2019</time>
									<a href="#" class="news-list__head">Как понять, что АКПП требует внимания специалистов</a>
								</article>
							</div>

							<div class="col-6">
								<article class="news-list__item">
									<time class="news-list__date">17.03.2019</time>
									<a href="#" class="news-list__head">Что проверить в машине перед длительной поездкой?</a>
								</article>
							</div>

							<div class="col-6">
								<article class="news-list__item">
									<time class="news-list__date">12.03.2019</time>
									<a href="#" class="news-list__head">Зачем нужна дезинфекция кондиционера авто?</a>
								</article>
							</div>

							<div class="col-6">
								<article class="news-list__item">
									<time class="news-list__date">06.03.2019</time>
									<a href="#" class="news-list__head">Каким должно быть давление в шинах? Советы экспертов</a>
								</article>
							</div>

							<div class="col-6">
								<article class="news-list__item">
									<time class="news-list__date">27.02.2019</time>
									<a href="#" class="news-list__head">Как лучше всего определить износ тормозных колодок?</a>
								</article>
							</div>
						</div>
					</div>

					<div class="container">
						<div class="row">
							<div class="col-12">
								<div class="pager">
									<a href="#" class="pager__item active">1</a>
									<a href="#" class="pager__item">2</a>
									<a href="#" class="pager__item">3</a>
									<a href="#" class="pager__item">4</a>
									<a href="#" class="pager__item">...</a>
									<a href="#" class="pager__item">9</a>
								</div>
							</div>
						</div>
					</div>
				</section>

				<section>
					<div class="container">
						<div class="row">
							<div class="col-12">
								<form method="get" class="form-site form-site--hor js-valid-form">
									<div class="form-site__text">Сделайте <span class="h-text-orange">2 шага</span> и мы назовем Вам стоимость и&nbsp;время проведения работ</div>

									<div class="form-site__fields">
										<input type="text" placeholder="Марка" required="required">
										<input type="text" placeholder="Модель" required="required">
									</div>

									<input type="submit" value="Оставить заявку" class="btn">
								</form>
							</div>
						</div>
					</div>
				</section>
			</main>
			//= ../footer/footer.html
		</div>

		//= ../footer/footer-script.html
	</body>
</html>
