<!doctype html>
<html lang="ru">
	<head>
	//= ../header/header-meta.html
		<title>Салонный фильтр. Для чего нужен и какой выбрать</title>
	//= ../header/header-link.html
	</head>
	<body class="js-body">
		<div class="wrapper">
			//= ../header/header.html
			<main>
				<div class="container">
					<div class="row">
						<div class="col-12">
							<div class="bredcrumb">
								<a href="/" class="bredcrumb__item"><img src="img/ic-home.svg" alt=""></a>
								<a href="/" class="bredcrumb__item">Новости</a>
								<span class="bredcrumb__item">Салонный фильтр. Для чего нужен и какой выбрать</span>
							</div>
						</div>
					</div>
				</div>

				<div class="detail-news">
					<section class="header-news" style="background-image: url(img/news-detail1.jpg);">
						<div class="container">
							<div class="row">
								<div class="col-12">
									<div class="header-news__content">
										<div class="header-news__time-wrap">
											<time class="header-news__date">08.04.2019</time>
											<time class="header-news__time">4 мин</time>
										</div>

										<h1 class="header-news__head">Салонный фильтр. Для чего нужен и&nbsp;какой выбрать</h1>
									</div>
								</div>
							</div>
						</div>
					</section>

					<section>
						<div class="container">
							<div class="row">
								<div class="col-12">
									<div class="detail-news__content">
										<div class="share">
											<span class="share__label">Поделиться:</span>
											<a href="#" class="share__item share__item--vk"></a>
											<a href="#" class="share__item share__item--fb"></a>
											<a href="#" class="share__item share__item--tw"></a>
										</div>

										<div class="detail-news__text">
											<p>Количество загрязнений на дороге и на тротуаре сильно различается — их концентрация на проезжей части просто колоссальная. Чтобы водители и пассажиры не дышали этими отравляющими веществами, стали применять салонные фильтры.</p>

											<div class="h2">От чего защищает салонный фильтр?</div>

											<ul>
												<li>От выхлопа других автомобилей, тополиного пуха, пыльцы и разнообразной пыли, которая может попасть в салон.</li>

												<li>От запаха «незамерзайки», а именно изопропанола, из которого делают зимние стеклоомывающие жидкости. Если дышать парами такой «незамерзайки», возникает головная боль, раздражаются органы дыхания, глаза. Салонный фильтр с содержанием активированного угля снижает концентрацию изопропанола в несколько раз (обычный пылевой фильтр справляется с этой задачей хуже), хотя и не «убивает» все вредные вещества полностью. Особенно высокая концентрация вредных веществ возникает в первые 5 секунд при подаче незамерзающей жидкости на стекла, так что рекомендуется пользоваться ей только на ходу и/или предварительно включив рециркуляцию.</li>

												<li>От NO2 или диоксида азота, который также представляет опасность для водителя и пассажиров. При вдыхании небольшого количества растет сопротивление дыхательных путей — даже здоровым людям будет труднее дышать. Качественный салонный фильтр с угольным наполнением снижает его концентрацию в 25-100 раз.</li>

												<li>От углеводородов СН, составляющих с диоксидом азота основу городского смога. Большинство салонных фильтров с активированным углем урезают его концентрацию вдвое.</li>
											</ul>

											<p>Следует знать, что ни один салонный фильтр не делают из бумаги. Этот запрет прописан во многих технических требованиях, так как целлюлоза создает благоприятные условия для размножения бактерий. Также автопроизводители хотят, чтобы материал не поддерживал горение. Поэтому современный салонный фильтр изготавливается только из нетканого синтетического фильтровального материала.</p>

											<div class="h2">Почему угольный фильтр лучше других?</div>

											<p>Если стоит вопрос, какой салонный фильтр лучше покупать, берите угольный. Обычный пылевой фильтр — это экономия на собственном здоровье.</p>

											<p>Активированный уголь — это не маркетинговый обман, а работающая вещь, когда речь идет о качественных фильтрах именитых фирм. Активированный уголь способен смягчить удар от вдыхания загрязняющих веществ. Микропоры активированного угля адсорбируют из воздуха крупные молекулы токсичных газов: диоксида азота, легких углеводородов (метан, пропан, бутан), ароматических углеводородов и паров спирта (как метилового, так и изопропилового).</p>

											<p>Да, он не улавливает угарный газ и другие вредные вещества с малым размером молекул. Но для борьбы с ними во многих современных автомобилях есть датчики качества воздуха, управляющие заслонкой рециркуляции в автоматическом режиме.</p>

											<p>Простая система кондиционирования не снижает содержание загрязняющих веществ в салоне, а лишь создает ложную иллюзию безопасности: комфортны только температура и влажность воздуха, а концентрация вредных веществ внутри даже выше, чем снаружи!</p>

											<img src="img/detail-news-img.jpg" alt="" class="news-img-full">

											<div class="h2">Когда нужно менять салонный фильтр?</div>

											<p>Точных сроков замены салонного фильтра нет, ведь срок его службы зависит не от пройденных километров, а от того, как часто работает «печка» и система кондиционирования, и от места, где эксплуатируется машина. Например, в крупных городах с большим количеством автомобилей салонный фильтр рекомендуется менять раз в год.</p>

											<p>Нужно помнить, что активированный уголь внутри фильтра работает только тогда, когда через него проходят потоки воздуха. Если воздуха нет, значит, фильтр не работает, и его ресурс не сокращается. И стоит обращать внимание на вес фильтра — чем он тяжелее, тем больше активированного угля внутри, а это значит, он прослужит вам дольше.</p>

											<p>Кстати, ресурс моторчика вентилятора «отопителя» можно продлить, если вынимать и пылесосить фильтр дважды в год: осенью по окончании листопада и летом после сезона тополиного пуха и пыльцы — это немного снизит сопротивление фильтра.</p>
										</div>

										<div class="share">
											<span class="share__label">Поделиться:</span>
											<a href="#" class="share__item share__item--vk"></a>
											<a href="#" class="share__item share__item--fb"></a>
											<a href="#" class="share__item share__item--tw"></a>
										</div>
									</div>
								</div>
							</div>
						</div>
					</section>

					<section class="detail-news__more">
						<div class="container">
							<div class="row">
								<div class="col-12">
									<div class="h2">Вам также будет интересно</div>
								</div>
							</div>
						</div>
						
						<section class="news-list">
							<div class="container">
								<div class="row">
									<div class="col-6">
										<article class="news-list__item">
											<time class="news-list__date">17.03.2019</time>
											<a href="#" class="news-list__head">Что проверить в машине перед длительной поездкой?</a>
										</article>
									</div>

									<div class="col-6">
										<article class="news-list__item">
											<time class="news-list__date">12.03.2019</time>
											<a href="#" class="news-list__head">Зачем нужна дезинфекция кондиционера авто?</a>
										</article>
									</div>
								</div>
							</div>
						</section>
					</section>
				</div><!-- end detail-news -->


				<section>
					<div class="container">
						<div class="row">
							<div class="col-12">
								<form method="get" class="form-site form-site--hor js-valid-form">
									<div class="form-site__text">Сделайте <span class="h-text-orange">2 шага</span> и мы назовем Вам стоимость и&nbsp;время проведения работ</div>

									<div class="form-site__fields">
										<input type="text" placeholder="Марка" required="required">
										<input type="text" placeholder="Модель" required="required">
									</div>

									<input type="submit" value="Оставить заявку" class="btn">
								</form>
							</div>
						</div>
					</div>
				</section>
			</main>
			//= ../footer/footer.html
		</div>

		//= ../footer/footer-script.html
	</body>
</html>
