<!doctype html>
<html lang="ru">
	<head>
	//= ../header/header-meta.html
		<title>Услуги</title>
	//= ../header/header-link.html
	</head>
	<body>
		<div class="wrapper">
			//= ../header/header.html
			<main>
				<div class="services-page">
					<section class="top-slider">
						<div class="top-slider__list js-top-slider">
							<div class="top-slider__item" style="background-image: url(img/slider-top.jpg);">
								<div class="container">
									<div class="row">
										<div class="col-6">
											<div class="top-slider__content">
												<div class="top-slider__label">Давайте знакомиться</div>
												<div class="top-slider__head">Скидка до 20% на первое обслуживание вашего автомобиля</div>
												<a href="#" class="btn btn--white">Узнать подробнее</a>
											</div>
										</div>
									</div>
								</div>
							</div>

							<div class="top-slider__item" style="background-image: url(img/slider-top.jpg);">
								<div class="container">
									<div class="row">
										<div class="col-6">
											<div class="top-slider__content">
												<div class="top-slider__label">Давайте знакомиться</div>
												<div class="top-slider__head">Скидка до 15%</div>
												<a href="#" class="btn btn--white">Узнать подробнее</a>
											</div>
										</div>
									</div>
								</div>
							</div>

							<div class="top-slider__item" style="background-image: url(img/slider-top.jpg);">
								<div class="container">
									<div class="row">
										<div class="col-6">
											<div class="top-slider__content">
												<div class="top-slider__label">Давайте знакомиться</div>
												<div class="top-slider__head">Скидка до 50% на первое обслуживание вашего автомобиля</div>
												<a href="#" class="btn btn--white">Узнать подробнее</a>
											</div>
										</div>
									</div>
								</div>
							</div>

							<div class="top-slider__item" style="background-image: url(img/slider-top.jpg);">
								<div class="container">
									<div class="row">
										<div class="col-6">
											<div class="top-slider__content">
												<div class="top-slider__label">Давайте знакомиться</div>
												<div class="top-slider__head">Скидка до 25% на обслуживание автомобиля</div>
												<a href="#" class="btn btn--white">Узнать подробнее</a>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>

						<div class="container">
							<div class="row">
								<div class="col-12">
									<div class="top-slider__counter-wrap">
										<div class="js-top-slider-arrow"></div>
										<div class="top-slider__counter js-top-slider-counter"></div>
									</div>
								</div>
							</div>
						</div>
					</section>

					<section class="services-wrap">
						<div class="container">
							<div class="row">
								<div class="col-7">
									<div class="h1">Устраняйте наполадки до того, как машина выйдет из строя</div>
								</div>
							</div>
						</div>

						<div class="services">
							<div class="container">
								<div class="row">
									<div class="col-4">
										<a href="#" class="services__item">
											<div class="services__img"><img src="img/ic-main-service.svg" alt=""></div>

											<div class="services__head">Техническое обслуживание</div>

											<div class="services__text">Любую неисправность авто лучше и проще предупредить заранее, чем тратить время и силы на ремонт железного коня.</div>

											<div class="services__more">Подробнее</div>
										</a>
									</div>

									<div class="col-4">
										<a href="#" class="services__item">
											<div class="services__img"><img src="img/ic-repair.svg" alt=""></div>

											<div class="services__head">Слесарный ремонт</div>

											<div class="services__text">Поддержим ваш автомобиль в прекрасном состоянии и отличной рабочей форме. Пусть он смело покоряет любые дороги!</div>

											<div class="services__more">Подробнее</div>
										</a>
									</div>

									<div class="col-4">
										<a href="#" class="services__item">
											<div class="services__img"><img src="img/ic-diagnostics.svg" alt=""></div>

											<div class="services__head">Диагностика</div>

											<div class="services__text">Своевременная диагностика позволяет избежать серьезных поломок и предотвратить выход авто из строя.</div>

											<div class="services__more">Подробнее</div>
										</a>
									</div>

									<div class="col-4">
										<a href="#" class="services__item">
											<div class="services__img"><img src="img/ic-balance.svg" alt=""></div>

											<div class="services__head">Шиномонтаж/Балансировка</div>

											<div class="services__text">Переобуем ваш автомобиль, чтобы он слушался вас и на ледяной зимней, и на мокрой осенней, и на сухой летней дороге.</div>

											<div class="services__more">Подробнее</div>
										</a>
									</div>

									<div class="col-4">
										<a href="#" class="services__item">
											<div class="services__img"><img src="img/ic-consult.svg" alt=""></div>

											<div class="services__head">Консультация специалиста</div>

											<div class="services__text">Наши специалисты с радостью проконсультируют вас по любому вопросу, связанному с ремонтом вашего авто.</div>

											<div class="services__more">Подробнее</div>
										</a>
									</div>

									<div class="col-4">
										<a href="#" class="services__item">
											<div class="services__img"><img src="img/ic-spare-parts.svg" alt=""></div>

											<div class="services__head">Запчасти</div>

											<div class="services__text">Мы подбираем автозапчасти для иномарок и российских авто и помогаем ставить автомобиль на колеса в сжатые сроки.</div>

											<div class="services__more">Подробнее</div>
										</a>
									</div>
								</div>
							</div>
						</div>
					</section>

					<section class="partner-wrap">
						<div class="container">
							<div class="row">
								<div class="col-12">
									<div class="h1">Мы обслуживаем</div>

									<div class="partner js-partner">
										<div class="partner__item"><img src="img/partner0.png" alt=""></div>
										<div class="partner__item"><img src="img/partner1.png" alt=""></div>
										<div class="partner__item"><img src="img/partner2.png" alt=""></div>
										<div class="partner__item"><img src="img/partner3.png" alt=""></div>
										<div class="partner__item"><img src="img/partner4.png" alt=""></div>
										<div class="partner__item"><img src="img/partner5.png" alt=""></div>
										<div class="partner__item"><img src="img/partner6.png" alt=""></div>
										<div class="partner__item"><img src="img/partner7.png" alt=""></div>
										<div class="partner__item"><img src="img/partner8.png" alt=""></div>
										<div class="partner__item"><img src="img/partner9.png" alt=""></div>
									</div>
								</div>
							</div>
						</div>
					</section>

					<section>
						<div class="container">
							<div class="row">
								<div class="col-12">
									<form method="get" class="form-site form-site--hor js-valid-form">
										<div class="form-site__text">Сделайте <span class="h-text-orange">2 шага</span> и мы назовем Вам стоимость и&nbsp;время проведения работ</div>

										<div class="form-site__fields">
											<input type="text" placeholder="Марка" required="required">
											<input type="text" placeholder="Модель" required="required">
										</div>

										<input type="submit" value="Оставить заявку" class="btn">
									</form>
								</div>
							</div>
						</div>
					</section>

					<section class="advant-wrap">
						<div class="container">
							<div class="row">
								<div class="col-12">
									<div class="h1">Наши преимущества</div>
								</div>
							</div>
						</div>
						
						<div class="advant">
							<div class="container">
								<div class="row">
									<div class="col-6">
										<div class="advant__item">
											<div class="advant__img"><img src="img/ic-clock.svg" alt=""></div>

											<div class="advant__cotent">
												<div class="advant__head">Ремонт точно в срок</div>
												<div class="advant__text">Мы придержываемся согласованного с клиентом срока ремонта автомобиля. Если по вине сотрудников сервиса произошла задержка, то мы готовы выплатить компенсацию.</div>
											</div>
										</div>
									</div>

									<div class="col-6">
										<div class="advant__item">
											<div class="advant__img"><img src="img/ic-man.svg" alt=""></div>

											<div class="advant__cotent">
												<div class="advant__head">Квалифицированный персонал</div>
												<div class="advant__text">На всех техцентрах  работает аттестованный персонал, который способен в кратчайшие сроки определить неисправность и провести необходимые ремонты.</div>
											</div>
										</div>
									</div>

									<div class="col-6">
										<div class="advant__item">
											<div class="advant__img"><img src="img/ic-cash.svg" alt=""></div>

											<div class="advant__cotent">
												<div class="advant__head">Доступные цены</div>
												<div class="advant__text">Традиционно низкая стоимость нормо-часа и запасных частей позволяет максимально снизить стоимость владения ремонта автомобилей в наших техцентрах.</div>
											</div>
										</div>
									</div>

									<div class="col-6">
										<div class="advant__item">
											<div class="advant__img"><img src="img/ic-garantee.svg" alt=""></div>

											<div class="advant__cotent">
												<div class="advant__head">Гарантия на работу</div>
												<div class="advant__text">Мы предоставляем гарантию на работы до 24 месяцев, без ограничений по пробегу!</div>
											</div>
										</div>
									</div>

									<div class="col-6">
										<div class="advant__item">
											<div class="advant__img"><img src="img/ic-note.svg" alt=""></div>

											<div class="advant__cotent">
												<div class="advant__head">Полный спектр услуг</div>
												<div class="advant__text">Мы оказываем полный спектр услуг по обслуживанию и ремонту автомобилей: все виды диагностики, слесарный, электромонтажный, кузовной ремонт и возможность установки любого дополнительного оборудования и другие</div>
											</div>
										</div>
									</div>

									<div class="col-6">
										<div class="advant__item">
											<div class="advant__img"><img src="img/ic-setting.svg" alt=""></div>

											<div class="advant__cotent">
												<div class="advant__head">Современное оборудование и специнструмент</div>
												<div class="advant__text">В своей работе мы применяем новые технологии и не жалеем средств на приобретение индивидуального, дополнительного инструмента. Это позволяет нам выполнять самую сложную работу по ремонту Вашего автомобиля.</div>
											</div>
										</div>
									</div>

									<div class="col-6">
										<div class="advant__item">
											<div class="advant__img"><img src="img/ic-comfort.svg" alt=""></div>

											<div class="advant__cotent">
												<div class="advant__head">Комфортная клиентская зона</div>
												<div class="advant__text">Специально для вас мы обустроили уютную клиентскую зону, чтобы вы могли комфортно отдохнуть и приятно провести время в ожидании своего автомобиля.</div>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
					</section>

					<section class="special-offer-wrap">
						<div class="container">
							<div class="row">
								<div class="col-12">
									<div class="h1">Спецпредложения</div>
								</div>
							</div>
						</div>

						<div class="special-offer">
							<div class="container">
								<div class="row">
									<div class="col-6">
										<a href="#" class="special-offer__item" style="background-image: url(img/special-offer2.jpg);">
											<span class="special-offer__text">Сезонная проверка за 599 руб по 15 пунктам</span>
										</a>
									</div>

									<div class="col-6">
										<a href="#" class="special-offer__item" style="background-image: url(img/special-offer1.jpg);">
											<span class="special-offer__text">Предлагаем тестовое использование наших озонаторов</span>
										</a>
									</div>
								</div>
							</div>
						</div>

						<div class="container">
							<div class="row">
								<div class="col-12">
									<a href="#" class="link-more">Смотреть все акции</a>
								</div>
							</div>
						</div>
					</section>
					
					<section class="popular-services-wrap">
						<div class="container">
							<div class="row">
								<div class="col-12">
									<div class="h1">Популярные услуги сервиса</div>
								</div>
							</div>
						</div>

						<div class="popular-services">
							<div class="container">
								<div class="row">
									<div class="col-3">
										<div class="popular-services__item">
											<img src="img/ic-oil.svg" alt="" class="popular-services__img">
											<div class="popular-services__text">Замена масла в двигателе</div>
										</div>
									</div>

									<div class="col-3">
										<div class="popular-services__item">
											<img src="img/ic-state-inspect.svg" alt="" class="popular-services__img">
											<div class="popular-services__text">Государственный Техосмотр</div>
										</div>
									</div>

									<div class="col-3">
										<div class="popular-services__item">
											<img src="img/ic-repair-electric.svg" alt="" class="popular-services__img">
											<div class="popular-services__text">Ремонт электропроводки</div>
										</div>
									</div>

									<div class="col-3">
										<div class="popular-services__item">
											<img src="img/ic-repair-light.svg" alt="" class="popular-services__img">
											<div class="popular-services__text">Ремонт подвески</div>
										</div>
									</div>

									<div class="col-3">
										<div class="popular-services__item">
											<img src="img/ic-repair-engine.svg" alt="" class="popular-services__img">
											<div class="popular-services__text">Ремонт двигателя</div>
										</div>
									</div>

									<div class="col-3">
										<div class="popular-services__item">
											<img src="img/ic-avto-tire.svg" alt="" class="popular-services__img">
											<div class="popular-services__text">Шиномонтаж</div>
										</div>
									</div>

									<div class="col-3">
										<div class="popular-services__item">
											<img src="img/ic-lamp-replace.svg" alt="" class="popular-services__img">
											<div class="popular-services__text">Замена ламп</div>
										</div>
									</div>

									<div class="col-3">
										<div class="popular-services__item">
											<img src="img/ic-diagnostic.svg" alt="" class="popular-services__img">
											<div class="popular-services__text">Сезонная диагностика</div>
										</div>
									</div>
								</div>
							</div>
						</div>
					</section>

					<section class="map-wrap">
						<div class="container">
							<div class="row">
								<div class="col-12">
									<div class="h1">Где мы находимся</div>

									<div id="map" class="map">
										<div class="tabs">
											<div class="tabs__item js-tabs-item active" data-coordx="55.806013" data-coordy="37.597379">ул. Добролюбова, 2Б</div>
											<div class="tabs__item js-tabs-item" data-coordx="55.690977" data-coordy="37.478225">ул. Лобачевского, 114</div>
											<div class="tabs__item js-tabs-item" data-coordx="55.613169" data-coordy="37.514170">Новоясеневский пр-т, 6</div>
										</div>
									</div>

									<script src="http://api-maps.yandex.ru/2.1/?lang=ru_RU" type="text/javascript"></script>
								</div>
							</div>
						</div>
					</section>

					<section class="service-seo-text">
						<div class="container">
							<div class="row align-items-center">
								<div class="col-6">
									<div class="service-seo-text__head">Заголовок СЕО блока об описании преимущества обслуживания в сервисе</div>
								</div>

								<div class="col-6">
									<p>Своевременное техническое обслуживание помогает выявить имеющиеся неисправности, значительно снизить затраты автовладельца на топливо, а также продлевает срок службы автомобиля. Все это позволяет экономить денежные средства и время владельца железного коня. Важным фактором, влияющим на периодичность выполнения ТО, являются условия эксплуатации автомобиля.</p>

									<p>Новейшее диагностическое оборудование, сертифицированные специалисты, постоянная информационная поддержка от производителей. В сервисных центрах РОЛЬФ мы проводим все виды диагностических работ быстро и качественно.</p>
								</div>
							</div>
						</div>
					</section>

					<svg height="0" width="0">
						<defs>
							<clipPath id="clipping" clipPathUnits="objectBoundingBox" transform="scale(0.0005263 0.0010101)">
								<polygon fill="#FFFFFF" stroke="#000000" stroke-miterlimit="10" points="1919.8,1600 0,1600 0,0 1919.8,99 "/>
							</clipPath>
						</defs>
					</svg>

					<section class="repair-form-wrap no-indent">
						<div class="container">
							<div class="row">
								<div class="col-12">
									<div class="h1-white">Мы подберем запасные части или расходные материалы для вашего авто</div>

									<form method="get" class="form-site form-site--hor js-valid-form">
										<div class="form-site__fields">
											<input type="text" placeholder="VIN Номер авто" required="required">
											<input type="text" placeholder="Название детали" required="required">
											<input type="text" placeholder="Номер телефона" required="required" class="js-phone">
										</div>

										<input type="submit" value="Оставить заявку" class="btn">
									</form>
								</div>
							</div>
						</div>
					</section>
				</div>
			</main>
			//= ../footer/footer.html
		</div>

		//= ../footer/footer-script.html
	</body>
</html>
