<!doctype html>
<html lang="ru">
	<head>
	//= ../header/header-meta.html
		<title>Вакансии</title>
	//= ../header/header-link.html
	</head>
	<body>
		<div class="wrapper">
			//= ../header/header.html
			<main>
				<div class="container">
					<div class="row">
						<div class="col-12">
							<div class="bredcrumb">
								<a href="/" class="bredcrumb__item"><img src="img/ic-home.svg" alt=""></a>
								<span class="bredcrumb__item">Вакансии</span>
							</div>

							<h1>Вакансии</h1>
						</div>
					</div>
				</div>

				<section>
					<div class="container">
						<div class="row">
							<div class="col-6">
								<div class="unwrap-block js-unwrap-block">
									<div class="unwrap-block__head js-unwrap-head">Автожестянщик</div>
									<div class="unwrap-block__content js-unwrap-content">
										<div class="unwrap-block__title">Обязанности:</div>

										<ul>
											<li>Восстановление геометрии кузова;</li>
											<li>Ремонт и замена кузовных деталей автомобиля в ходе ремонта;</li>
											<li>Работа на стапеле;</li>
											<li>Работа сварочным аппаратом.</li>
										</ul>

										<div class="unwrap-block__title">Требования:</div>

										<ul>
											<li>Опыт работы в данной должности от 5 лет у официального дилера (!);</li>
											<li>Аккуратность, внимательность, оперативность, желание работать;</li>
											<li>Умение работать в команде, ответственность.</li>
										</ul>

										<div class="unwrap-block__title">Условия:</div>

										<ul>
											<li>Компания предоставляет оформление согласно ТК РФ</li>
											<li>Официальная заработная плата</li>
											<li>Отпуск 28 календарных дней</li>
											<li>Территориальное расположение:ул. Добролюбова, 2Б, метро Бутырская</li>
											<li>График работы: сменный 4/4</li>
										</ul>

										<a data-fancybox data-src="#vacancies-form" href="javascript:;" class="btn">Оставить заявку</a>
									</div>
								</div>

								<div class="unwrap-block js-unwrap-block">
									<div class="unwrap-block__head js-unwrap-head">Специалист по работе с клиентами</div>
									<div class="unwrap-block__content js-unwrap-content">
										<div class="unwrap-block__title">Обязанности:</div>

										<ul>
											<li>Восстановление геометрии кузова;</li>
											<li>Ремонт и замена кузовных деталей автомобиля в ходе ремонта;</li>
											<li>Работа на стапеле;</li>
											<li>Работа сварочным аппаратом.</li>
										</ul>

										<div class="unwrap-block__title">Требования:</div>

										<ul>
											<li>Опыт работы в данной должности от 5 лет у официального дилера (!);</li>
											<li>Аккуратность, внимательность, оперативность, желание работать;</li>
										</ul>

										<div class="unwrap-block__title">Условия:</div>

										<ul>
											<li>Компания предоставляет оформление согласно ТК РФ</li>
											<li>Официальная заработная плата</li>
										</ul>

										<a data-fancybox data-src="#vacancies-form" href="javascript:;" class="btn">Оставить заявку</a>
									</div>
								</div>

								<div class="unwrap-block js-unwrap-block">
									<div class="unwrap-block__head js-unwrap-head">Автомеханик</div>
									<div class="unwrap-block__content js-unwrap-content">
										<div class="unwrap-block__title">Обязанности:</div>

										<ul>
											<li>Восстановление геометрии кузова;</li>
											<li>Ремонт и замена кузовных деталей автомобиля в ходе ремонта;</li>
											<li>Работа на стапеле;</li>
											<li>Работа сварочным аппаратом.</li>
										</ul>

										<div class="unwrap-block__title">Требования:</div>

										<ul>
											<li>Опыт работы в данной должности от 5 лет у официального дилера (!);</li>
											<li>Аккуратность, внимательность, оперативность, желание работать;</li>
											<li>Умение работать в команде, ответственность.</li>
										</ul>

										<a data-fancybox data-src="#vacancies-form" href="javascript:;" class="btn">Оставить заявку</a>
									</div>
								</div>
							</div>

							<div class="col-6">
								<div class="unwrap-block js-unwrap-block">
									<div class="unwrap-block__head js-unwrap-head">Автомеханик</div>
									<div class="unwrap-block__content js-unwrap-content">
										<div class="unwrap-block__title">Обязанности:</div>

										<ul>
											<li>Восстановление геометрии кузова;</li>
											<li>Ремонт и замена кузовных деталей автомобиля в ходе ремонта;</li>
											<li>Работа на стапеле;</li>
											<li>Работа сварочным аппаратом.</li>
										</ul>

										<div class="unwrap-block__title">Требования:</div>

										<ul>
											<li>Опыт работы в данной должности от 5 лет у официального дилера (!);</li>
											<li>Аккуратность, внимательность, оперативность, желание работать;</li>
											<li>Умение работать в команде, ответственность.</li>
										</ul>

										<div class="unwrap-block__title">Условия:</div>

										<ul>
											<li>Компания предоставляет оформление согласно ТК РФ</li>
											<li>Официальная заработная плата</li>
											<li>Отпуск 28 календарных дней</li>
											<li>Территориальное расположение:ул. Добролюбова, 2Б, метро Бутырская</li>
											<li>График работы: сменный 4/4</li>
										</ul>

										<a data-fancybox data-src="#vacancies-form" href="javascript:;" class="btn">Оставить заявку</a>
									</div>
								</div>

								<div class="unwrap-block js-unwrap-block">
									<div class="unwrap-block__head js-unwrap-head">Автоэлектрик-диагност</div>
									<div class="unwrap-block__content js-unwrap-content">
										<div class="unwrap-block__title">Обязанности:</div>

										<ul>
											<li>Восстановление геометрии кузова;</li>
											<li>Ремонт и замена кузовных деталей автомобиля в ходе ремонта;</li>
											<li>Работа на стапеле;</li>
											<li>Работа сварочным аппаратом.</li>
										</ul>

										<div class="unwrap-block__title">Требования:</div>

										<ul>
											<li>Опыт работы в данной должности от 5 лет у официального дилера (!);</li>
											<li>Аккуратность, внимательность, оперативность, желание работать;</li>
										</ul>

										<div class="unwrap-block__title">Условия:</div>

										<ul>
											<li>Компания предоставляет оформление согласно ТК РФ</li>
											<li>Официальная заработная плата</li>
										</ul>

										<a data-fancybox data-src="#vacancies-form" href="javascript:;" class="btn">Оставить заявку</a>
									</div>
								</div>

								<div class="unwrap-block js-unwrap-block">
									<div class="unwrap-block__head js-unwrap-head">Автомеханик-диагност</div>
									<div class="unwrap-block__content js-unwrap-content">
										<div class="unwrap-block__title">Обязанности:</div>

										<ul>
											<li>Восстановление геометрии кузова;</li>
											<li>Ремонт и замена кузовных деталей автомобиля в ходе ремонта;</li>
											<li>Работа на стапеле;</li>
											<li>Работа сварочным аппаратом.</li>
										</ul>

										<div class="unwrap-block__title">Требования:</div>

										<ul>
											<li>Опыт работы в данной должности от 5 лет у официального дилера (!);</li>
											<li>Аккуратность, внимательность, оперативность, желание работать;</li>
											<li>Умение работать в команде, ответственность.</li>
										</ul>

										<a data-fancybox data-src="#vacancies-form" href="javascript:;" class="btn">Оставить заявку</a>
									</div>
								</div>
							</div>
						</div>
					</div>
				</section>

				<div style="display: none;" id="vacancies-form" class="form-site-popup">
					<form method="get" class="form-site js-valid-form">
						<div class="form-site__head">Оставьте заявку</div>
						<div class="form-site__text">И мы свяжемся с Вами в ближайшее время</div>

						<div class="form-site__fields">
							<input type="text" placeholder="ФИО" required="required">
							<input type="text" placeholder="Телефон" class="js-phone" required="required">
							<input type="email" placeholder="E-mail" required="required">
							<input type="text" placeholder="Образование">
							<input type="text" placeholder="Опыт работы">
						</div>

						<input type="submit" value="Оставить заявку" class="btn">
					</form>
				</div>

			</main>
			//= ../footer/footer.html
		</div>

		//= ../footer/footer-script.html
	</body>
</html>
