@import 'utils/variables';
@import 'utils/fonts';
@import "utils/mixins";

/*-------------- base style -----------------*/

@import 'base/base';

@import 'layout/header';
@import 'layout/footer';

// /*-------------- Components styles -----------------*/
@import 'components/form-site';
@import 'components/top-slider';
@import 'components/services';
@import 'components/about';
@import 'components/advant';
@import 'components/partner';
@import 'components/map';
@import 'components/tabs';
@import 'components/repair-form';
