@import 'utils/variables';
@import 'utils/fonts';
@import "utils/mixins";

/*-------------- base style -----------------*/

@import 'base/base';

@import 'layout/header';
@import 'layout/footer';

// /*-------------- Components styles -----------------*/
@import 'components/form-site';
@import 'components/top-slider';
@import 'components/services';
@import 'components/about';
@import 'components/advant';
@import 'components/partner';
@import 'components/map';
@import 'components/tabs';
@import 'components/repair-form';
@import 'components/special-offer';
@import 'components/popular-services';
@import 'components/service-seo-text';
@import 'components/bredcrumb';
@import 'components/top-poster';
@import 'components/repair-avto';
@import 'components/about-slider';
@import 'components/history';
@import 'components/news-list';
@import 'components/pager';
@import 'components/news-detail';
@import 'components/share';
