<header class="header">
	<div class="container">
		<div class="row">
			<div class="col-12">
				<div class="header-top">
					<div class="header-top__logo"><a href="/"><img src="img/logo.svg" alt=""></a></div>

					<div class="header-top__info">
						<div class="header-top__address">
							<div class="header-top__street">ул. Добролюбова, 2Б</div>
							<div class="header-top__subway">Бутырская</div>
						</div>

						<div class="header-top__address">
							<div class="header-top__street">ул. Лобачевского, 114</div>
							<div class="header-top__subway header-top__subway--yellow">Мичуринский пр-т</div>
						</div>

						<div class="header-top__address">
							<div class="header-top__street">Новоясеневский пр-т, 6</div>
							<div class="header-top__subway header-top__subway--orange">Тёплый стан</div>
						</div>

						<div class="header-top__contact">
							<div class="header-top__phone"><a href="tel:+74957857722">8 495 785 77 22</a></div>
							<div class="header-top__time">С 9 до 21, без выходных</div>
						</div>
					</div>
					
					<a data-fancybox data-src="#feedback-form" href="javascript:;" class="btn btn--border">Перезвонить</a>
				</div>

				<nav class="header-bottom">
					<ul class="top-menu">
						<li class="top-menu__item">
							<a href="#"><span class="ic-hamburger"><span></span></span>Автосервис</a>

							<ul class="top-menu__sub">
								<li class="top-menu__sub-item"><a href="#">Техническое обслуживание</a></li>
								<li class="top-menu__sub-item"><a href="#">Слесарный ремонт</a></li>
								<li class="top-menu__sub-item"><a href="#">Диагностика</a></li>
								<li class="top-menu__sub-item"><a href="#">Шиномонтаж/Балансировка</a></li>
								<li class="top-menu__sub-item"><a href="#">Консультация специалиста</a></li>
								<li class="top-menu__sub-item"><a href="#">Запчасти</a></li>
							</ul>
						</li>

						<li class="top-menu__item"><a href="#">Продажа автомобилей</a></li>
						<li class="top-menu__item"><a href="#">Страхование</a></li>
						<li class="top-menu__item"><a href="#">Вопросы и ответы</a></li>
						<li class="top-menu__item"><a href="#">Новости</a></li>
						<li class="top-menu__item"><a href="#">О компании</a></li>
						<li class="top-menu__item"><a href="#">Контакты</a></li>
					</ul>
				</nav>
			</div>
		</div>
	</div>
</header>